{% extends "layout.html" %}

{% block page_title %}

C110a Form - Children
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full column-minimum">


<a href="javascript: history.go(-1)" class="link-back">Back</a>

      <h1 class="govuk-heading-l">
        Children
      </h1>

    {% if data['change'] == "true" %}
		  <form action="-c110a-review">

    {% else %}

    	<form action="-c110a">
    {% endif %}

<h2 class="heading-medium">
        Child 1
      </h2>
<!-- Child Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Child’s full name

  </label>
  <input type="text" class="form-control" id="child-1-full-name" name="child-1-full-name" value="{{ data['child-1-full-name'] }}">
</div>


<!-- Date of birth -->
<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label">
        Date of birth
      </span>
      <span class="form-hint">For example, 31 3 1980</span>
    </legend>
    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="dob-day">Day</label>
        <input class="form-control" id="dob-day" name="child-dob-day" value="{{ data['child-dob-day'] }}" type="number" pattern="[0-9]*" min="0" max="31">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="dob-month">Month</label>
        <input class="form-control" id="dob-month" name="child-dob-month" value="{{ data['child-dob-month'] }}" type="number" pattern="[0-9]*" min="0" max="12">
      </div>
      <div class="form-group form-group-year">
        <label class="form-label" for="dob-year">Year</label>
        <input class="form-control" id="dob-year" name="child-dob-year" value="{{ data['child-dob-year'] }}" type="number" pattern="[0-9]*" min="0" max="2016">
      </div>
    </div>
  </fieldset>
</div>


<!-- Gender class="inline" -->
		<div class="form-group">
    <fieldset >

      <legend>
        <span class="form-label">
           Gender
        </span>
      </legend>

      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="child-1-gender" value="Boy"  {{ checked('child-1-gender','Boy') }}>
        <label for="radio-inline-1">Boy</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="child-1-gender" value="Girl'" {{ checked('child-1-gender','Girl') }}>
        <label for="radio-inline-2">Girl</label>
      </div>
		<div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="child-1-gender" value="Non-binary" {{ checked('child-1-gender','Non-binary') }}>
        <label for="radio-inline-2">Non-binary</label>
      </div>

    </fieldset>
  </div>

			</br>



			  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading- form-label">
       Is the child accommodated?
      </h3>
    </legend>
    <div class="govuk-radios" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="child-accommodation" type="radio" value="Yes" {{ checked('child-accommodation','Yes') }} data-aria-controls="conditional-how-contacted-conditional-1">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
        Yes
      </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-1">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
    Specify current address
  </label>
          <textarea class="form-control form-control-3-4" name="child-1-address" id="textarea" rows="5" >{{ data['child-1-address'] }}</textarea>
        </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="child-accommodation" type="radio" value="No" {{ checked('child-accommodation','No') }}  data-aria-controls="conditional-how-contacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
        No
      </label>
      </div>





    </div>
  </fieldset>
</div>

<!-- toggled content Child accommodated content -->

<!--<div class="form-group">
  <fieldset>

    <legend>
      <span class="form-label">
        Is the child accommodated?
      </span>

    </legend>


    <div class="multiple-choice">
      <input id="child-accommodation" name="child--accommodation" type="radio" value="No" {{ checked('child--accommodation','No') }} >
      <label for="child-accommodation-no">No</label>
    </div>
    <div class="multiple-choice" data-target="example-different-country">
      <input id="child-accommodation" name="child--accommodation" type="radio" value="Yes" {{ checked('child--accommodation','Yes') }}>
      <label for="child-accommodation-yes">Yes</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="example-different-country">
      <label class="form-label" for="nationalities-other-country">If Yes, from what date?</label>


      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="child-accommodation-dob-day" value="{{ data['child-dob-day'] }}" type="number" pattern="[0-9]*" min="0" max="31">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="child-accommodation-dob-month" value="{{ data['child-dob-month'] }}" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="child-accommodation-dob-year" value="{{ data['child-dob-year'] }}" type="number" pattern="[0-9]*" min="0" max="2016">
        </div>
		 <div class="panel">

		<label class="form-label" for="textarea">
  At which address does the child live?
</label>
<textarea class="form-control form-control-3-4" name="child-1-0address" id="textarea" rows="5" >{{ data['child-1--address'] }}</textarea>
		  </div>
      </div>


    </div>

  </fieldset>
</div>
-->
			</br>
<!-- toggled content child’s situation  -->

<div class="form-group">
  <fieldset>

    <legend>
      <span class="form-label">
        Describe child’s situation at time of application
      </span>

    </legend>


    <div class="multiple-choice" data-target="situation-a">
      <input id="child-situation" name="child-situation" type="radio" value="Child removed under police powers which are expiring soon" {{ checked('child-situation','Child removed under police powers which are expiring soon') }}>
      <label for="child-accommodation-no">Child removed under police powers which are expiring soon</label>
    </div>
	  <div class="panel panel-border-narrow js-hidden" id="situation-a">
      <label class="form-label" for="nationalities-other-country">Expire date</label>


      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
        </div>
		   <div class="panel">
           <!-- details -->
		   <label class="form-label" for="textarea">Give details</label>
           <textarea class="form-control form-control-3-4" name="s-b-details" id="textarea" rows="5"></textarea>
		  </div>
      </div>


</div>
    <div class="multiple-choice" data-target="situation-b">
      <input id="child-situation" name="child-situation"  type="radio" value="Children accommodated under Section 20 agreement" {{ checked('child-situation','Children accommodated under Section 20 agreement') }}>
      <label for="child-accommodation-yes">Children accommodated under Section 20 agreement</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="situation-b">


<label class="form-label" for="textarea">Give details</label>
           <textarea class="form-control form-control-3-4" name="s-b-details" id="textarea" rows="5"></textarea>




</div>
	  <div class="multiple-choice" data-target="situation-c">
      <input id="child-situation" name="child-situation"  type="radio" value="Child in hospital and awaiting discharge" {{ checked('child-situation','Child in hospital and awaiting discharge') }}>
      <label for="child-accommodation-yes">	Child in hospital and awaiting discharge</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="situation-c">
      <label class="form-label" for="nationalities-other-country">Discharge date</label>


      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
        </div>
		   <div class="panel">
           <!-- details -->
		   <label class="form-label" for="textarea">Give details</label>
           <textarea class="form-control form-control-3-4" name="s-b-details" id="textarea" rows="5"></textarea>
		  </div>
      </div>  </div>


   <div class="multiple-choice" data-target="situation-d">
      <input id="child-situation" name="child-situation"  type="radio"  value="Child is with respondents or alternative carers, not in immediate danger but needs proceedings" {{ checked('child-situation','Child is with respondents or alternative carers, not in immediate danger but needs proceedings') }}>
      <label for="child-accommodation-yes">Child is with respondents or alternative carers, not in immediate danger but needs proceedings</label>
    </div>




	  <div class="multiple-choice" data-target="situation-e">
      <input id="child-situation" name="child-situation"  type="radio" value="Others" {{ checked('child-situation','Others') }}>
      <label for="child-accommodation-yes">Other</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="situation-e">



           <!-- details -->
		   <label class="form-label" for="textarea">Describe</label>
           <textarea class="form-control form-control-3-4" name="s-b-details" id="textarea" rows="5"></textarea>




    </div>



</div>


		<!-- Key dates child timeline -->
		<div class="form-group">
  <label class="form-label" for="textarea">
   Key dates for this child
	  <span class="form-hint">
      List any significant events
		  <br>
      For example, ‘starting secondary school’.
    </span>
  </label>

<textarea class="form-control form-control-3-4" name="key-dates" id="textarea" rows="5" >{{ data['key-dates'] }}</textarea>

</div>





<!-- Mother's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-mother-name">
  Mother's name

  </label>
  <input type="text" class="form-control" id="child-1-mother-name" name="child-1-mother-name" value="{{ data['child-1-mother-name'] }}">
</div>


<!-- Father's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-father-name">
  Father's name

  </label>
	<input type="text" class="form-control" id="child-1-father-name" name="child-1-father-name" value="{{ data['child-1-father-name'] }}"/>
</div>

<div class="panel-border-narrow panel inline">
        <legend>
          <h1 class="heading-small">

          </h1>
          <span class="body-text">Parental responsibility</span>
        </legend>

        <div class="multiple-choice" >
          <input id="radio-parental-res-4" type="radio" name="child-1-parental-responsibility" value="yes" {{ checked('child-1-parental-responsibility','yes') }}>
          <label for="radio-parental-res-4">Yes</label>
        </div>
        <div class="multiple-choice" >
          <input id="radio-parental-res-4" type="radio" name="child-1-parental-responsibility" value="no" {{ checked('child-1-parental-responsibility','no') }}>
          <label for="radio-parental-res-4">No</label>
        </div>

		 <div class="multiple-choice" >
          <input id="radio-parental-res-4" type="radio" name="child-1-parental-responsibility" value="Do not know" {{ checked('child-1-parental-responsibility','Do not know') }}>
          <label for="radio-parental-res-4">Don't know</label>
        </div>
		</div>


		<!-- Social worker detials-->

<!-- Social worker's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Name of social worker

  </label>
  <input type="text" class="form-control" id="child-1-social-name" name="child-1-social-worker-name" value="{{ data['child-1-social-worker-name'] }}" />
</div>

			<div class="form-group">
  <div class="">
    <label class="form-label" for="example-phone-number">Social worker's telephone phone number <span class="form-hint">Mobile or landline</span></label>
    <input class="form-control" id="phone-number" name="child-1-social-worker-phone-number" value="{{ data['child-1-social-worker-phone-number'] }}"
     type="text" />
  </div>
</div>



<div class="form-group inline">

			<legend>

Do you expect that assessments will be needed in this case?

          <span class="form-hint">For example, Medical assessment</span>
        </legend>

        <div class="multiple-choice" data-target="assessment-yes">
          <input id="parent-1-assesment" type="radio" name="child-1-assesment" value="yes" {{ checked('child-1-assesment','yes') }}>
          <label for="radio-parental-res-4">Yes</label>
        </div>
      <div class="multiple-choice" >
          <input id="parent-1-assesment" type="radio" name="child-1-assesment" value="no" {{ checked('child-1-assesment','no') }}>
          <label for="radio-parental-res-4">No</label>
        </div>


				<div class="panel panel-border-narrow js-hidden" id="assessment-yes">

        <legend>

          <span class="body-text">Give details</span>
        </legend>
<textarea class="form-control" type="text" id="urgency-reason" name="security-details" rows="4" cols="80"></textarea>




</div>



  </div>



<script>


var counter = 1;

var limit = 5;

function addInput(divName){

     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");

     }

     else {

          var newdiv = document.createElement('div');

          newdiv.innerHTML =  "<h2 class='heading-medium'>Child 2</h2><div class='form-group'></div><label class='form-label' for='child-2-full-name'> Child’s full name </label> <input type='text' class='form-control' id='child-2-full-name'>";

          document.getElementById(divName).appendChild(newdiv);




          counter++;

     }

}


</script>


<!--<form method="POST">-->
     <div id="dynamicInput">
         <!-- Entry 1<br><input type="text" name="myInputs[]">-->

     </div>
     <input type="button" class="button" value="Add child" onClick="addInput('dynamicInput');">



<br/><br/>


{% if data['change'] == "true" %}
  <input class="button" type="submit" value="Save and continue">

{% else %}

<input class="button" type="submit" value="Save">
{% endif %}


</form>




    </div>
  </div>
</main>

{% endblock %}
