{% extends "layout.html" %}

{% block page_title %}
  Help - FAQs and How to videos
{% endblock %}

{% block content %}

<main id="content" role="main">
	
  <div class="grid-row">
    <div class="column-full column-minimum">
    
 <!--     <a href="la-dashboard.html" class="link-back">Back</a>-->
		
		<!--Breadscrumbs
		
		<div class="govuk-c-breadcrumbs">
  <ol class="govuk-c-breadcrumbs__list">
    <li class="govuk-c-breadcrumbs__list-item">
      <a class="govuk-c-breadcrumbs__link" href="-la-dashboard">Dashboard</a>
    </li>
    <li class="govuk-c-breadcrumbs__list-item" aria-current="page">
      Help 
    </li>
    
  </ol>
</div>--><div class="app-pane__content">
  <main id="main-content" class="govuk-main-wrapper govuk-main-wrapper--l" role="main">
    <div class="govuk-width-container- app-site-width-container-">
      
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
	  <a href="javascript: history.go(-1)" class="link-back">Back</a>
	  <br/>
     <h1 class="govuk-heading-xl">Get in touch</h1>

     <p class="govuk-body-l">If you’ve got a question, idea or suggestion get in touch with our design team.</p>

   

    

     <h2 class="govuk-heading-l">Email</h2>
     <p class="govuk-body">Email the design team on <a class="govuk-link" href="mailto:hmcts-design-team@hmcts.net">hmcts-design-team@hmcts.net</a></p>
  </div>
</div>

    </div>
  </main>



</div>
		
		
		
		
		

      


    
		
		

   
		
		
<br/>
      

    </div>
  </div>
</main>

{% endblock %}
