{% extends "layout-gov-uk.html" %}

{% block page_title %}
  Alpha - documents
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full column-minimum">

 <!--     <a href="la-dashboard.html" class="link-back">Back</a>-->

		<!--Breadscrumbs-->

		<div class="govuk-c-breadcrumbs">
  <ol class="govuk-c-breadcrumbs__list">
    <li class="govuk-c-breadcrumbs__list-item">
      <a class="govuk-c-breadcrumbs__link" href="index"> Family Public Law</a>
    </li>
    <li class="govuk-c-breadcrumbs__list-item" aria-current="page">
      Alpha assessment 
    </li>

  </ol>
</div>
		<div class="govuk-grid-row column-minimum govuk-clearfix column-full">

    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l"> Information and documents to support </span>
   Alpha assessment by criteria

    </h1>

<!--<h2 class="govuk-heading-m"> Public Law</h2>-->
		<div class="govuk-grid-row grid-row">
  <div class="govuk-grid-column-full">
	  
	   
      <div class="accordion">

        <div class="accordion-section">

          <div class="accordion-section-header" aria-expanded="true">
            <h2 class="heading-medium">1. Understand user needs</h2>
          </div>
          <div class="accordion-section-body">
			 
			  <img src="public/images/service-map-02.jpg" width="920px;" class="app-mobile-hide" /> 
			    <h2 class="heading-medium">Service Map</h2>
			  <p>We ran team workshops to map out user needs and pain points discovered through user research. The workshops supported team conversation and increased shared understanding of our users current experience, their frustrations and annoyances.
 </p>
			   <p class="govuk-heading-">Below are links to view <strong style="font-weight: bold">"AS IS"</strong> and <strong style="font-weight: bold">"TO BE"</strong>  end to end service user journey maps. Pain points, user needs and opportunities to improve the service are mapped out all through the journey.</p>
        <ul class="page-contents__list"> <li>
				
				
				<a href="public/images/documents/Family-Public-Law-Service Map-AS-IS.pdf" target="_blank"> "AS IS" Family Public Law Service Map </a>
				
			


		
            </li>
				<li>
				
				
				<a href="public/images/documents/Family-Public-Law-Service Map-TO-BE.pdf" target="_blank"> "TO BE" Family Public Law Service Map </a>
				
				


		
            </li>
				
				
				
			  
			  </ul>
			  
			    <h2 class="heading-medium">User needs</h2>
			  
			   </p>
			  
			  <p class="govuk-heading-">A clear set of user needs and user stories were defined during discovery, through insight gained by talking to the different people involved in the service. In Alpha, we focused on providing a streamlined, intuitive online application
process, that will increase efficiency by capturing and
promoting only relevant information, reducing error
rates, and notifying relevant parties more quickly to
enable better resource management. </p>
            <ul class="list page-contents__list">
				
				
				
					<li >
				
				
				<a href="https://docs.google.com/spreadsheets/d/1sFUuGj-gmz1QUtFhFR-NywG5nRh4EOPh8W_cIUZJs74/edit?usp=sharing " target="_blank"> Alpha user needs from research</a>
				
			


		
            </li>
				
				<li >
				
				
				<a href="public/images/documents/personas-in-alpha.pdf " target="_blank"> Personas in Alpha</a>
				
			


		
            </li>
				
					<li >
				
				
				<a href="public/images/documents/alpha-user-research-summary.pdf " target="_blank"> Alpha user research digest</a>
				
			


		
            </li>
				
				
				<li >
				
				
				<a href="public/images/documents/user-needs.pdf" target="_blank"> Discovery research summary including user needs and user stories</a>
				
			


		
            </li>
				<li>
				
				
				<a href="public/images/documents/personas.pdf" target="_blank"> User profiles </a>
				
				


             
              
            </li>
				<li>
				
				
				<a href="https://realtimeboard.com/app/board/o9J_kzmWxGM=/" target="_blank"> Real Time board to add/edit user needs when we are doing ongoing research by anyone in the team, anytime and anywhere. Virtual wall to record and refer to user needs. </a>
				
				


		
            </li>
				<li>
				
				
				<a href="https://realtimeboard.com/app/board/o9J_kzmWuCg=/" target="_blank"> Real Time board to map out user flows which we iterate continuously based on insight from user research.</a>
				
				    </li> </ul>
				
			<p>  Documents from exploratory user research from October to December 2017  </p>
				<ul class="list page-contents__list"><li>			
				<a href="public/images/documents/Public-Law-Customer-Insight-Pack.pdf" target="_blank"> Understanding our customers - Family Public Law customer insight pack</a>	
            </li>
				<li>			
				<a href="public/images/documents/Public-Law-User-Research-Inception.pdf" target="_blank"> Exploratory user research on what the current experience of the end to end service in Family Public Law from the perspective of the various user groups involved?</a>	
            </li>
				
				<li>			
				<a href="public/images/documents/Personas-from-inception.pdf" target="_blank"> Personas</a>	
            </li>
				
				
			  
			  </ul>
			 
			    <h2 class="heading-medium">C110A application</h2>
			  <p class="govuk-heading-">Current C110A PDF application form and document showing what we are changing, rationale for change, testing and engagement with policy team. 
  </p>
        <ul class="page-contents__list"> 
				
				
				<li>
				
				
				<a href="public/images/documents/c110a-eng.pdf" target="_blank"> Current C110A PDF application form in use </a>
				
				


		
            </li>
			
			
			<li>
				
				
				<a href="public/images/documents/C110a-application-as-is-to-be.pdf" target="_blank"> Document showing what has changed, rationale for change, testing and engagement with policy team    </a>
				
				<!--<h2 class="govuk-heading-m"> Apply for a care, supervision or emergency protection order </h2>-->


		
            </li>
				
				
			
			  
			  <p> We have started engaging with the policy team to fact check the new changes and have built up continues working relationship to discuss how we can improve the application form both on the new online and on the offline PDF form.</p> <p>We are also in the process of updated the offline PDF form to reflect changes that we are making to the online application form based on the research and insight from users of the service. </p>
			  
	<!--		  <li> <a href="https://trello.com/b/XsY5h2Dq/c110a-application" target="_blank"> Trello board with questions in C110A application form used during user research sessions  </a></li>-->
				<p> We printed out cards with all questions in the application form to run workshops, with users to find out their pain points, which questions meet user needs, which questions needed changing, which question needed to be removed and if any new ones needed to added. We also asked if they had any recommendation to improve the online application.  </p>
			
			<li> <a href="https://realtimeboard.com/app/board/o9J_kzS5cDY=/" target="_blank"> Link to real time board with all pages in the application form, with what local authorites said, what gatekeeper said and recommedations to improve the online application.  </a></li>
			
			</ul>
			</div>
  
			  
        </div>
        <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium">2. Do ongoing user research</h2>
          </div>
          <div class="accordion-section-body">
			    <h3 class="govuk-heading-m">User research plans </h3>
			  <p> We plan to do ongoing user research and usability testing to continuously seek feedback from users to improve the service. During the assessment we will be talking about: </p>
            <ul class="list page-contents__list">
				<li> <a href="" target="_blank"> </a>What our Private Beta will look like  and how we'll use what we find to improve the service  </li>
				<li> <a href="public/images/documents/research-plan.pdf" target="_blank"> Research plan for Private Beta and a plan for carrying out user research on the live service </a></li>
				<li> <a href="" target="_blank"> </a>How often we’ll carry out research and usability tests and how we’ll use the results to improve the design of our service</li>
				
			  <li> <a href="https://www.google.com/maps/d/edit?mid=1hHAm58CdJIPzgZhvlHI0dp5JkInjrs_O&ll=52.50738793785803%2C-1.1701219324218073&z=6" target="_blank"> Users who will be doing research with by location </a></li>
				
				
				</ul>
			  
			  
			  <h3 class="govuk-heading-m">Accessibility and assisted digital  </h3>
			  
			  <p>
				  
				  <a href="public/images/documents/accessiblity-and-AD-support.pdf" target="_blank"> Link to presentation on accessibility and assisted digital  </a> 
			  </p>
				 <p> We had been to a training workshop run by Alistair Duggin (Head of Accessibility at GDS) and Richard Morton (Senior Accessibility Specialist at GDS). We followed up the training with two visits to the Empathy Lab at GDS. </p>
<p>
Now, we have a good understanding of how to design an accessible service and we also have ideas on how we’ll design the assisted digital support model for our service. 
	
</p>
			  
			   <p> How we plan to meet the GOV.UK accessibility requirements </p>
            <ul class="list page-contents__list">
				
				<li>We will be applying WCAG 2.0 design principles, <span class="govuk-!-font-weight-bold"> Perceivable, Operable, Understandable and Robust (POUR)</span> to achieve WCAG 2.0 level AA rating. </li>
				
				<li> We will continue to use a combination of automated tools and manual tests (including those listed in the accessibility checklist created by 18F) to identify potential problems. </li>
				
				<li> We will be writing accessibility acceptance criteria.  </li>
				<li> We will budget and plan for accessibility audit with an expert in Private beta.
</li>
				<li> Follow inclusive design principles.
</li>
				
			  <li>Test with assistive technologies including screen readers like JAWS and speech recognition software like Dragon.
 </li>
				
				<li> Test with people in their own environment.
 </li>
				<li> Test with automated tools like Sortsite.

 </li>
				<li> Check if users can tab through the interface.


 </li>
				<li> Check the service can be used with just keyboard. </li>
				<li> Perform manual checks.</li>
				<li> We will strive to learn more and we have signed up to government accessibility group.
</li>
				
				</ul>
			  
			  
          </div>

        </div>

		  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 3. Have a multidisciplinary team</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We have a highly experienced multi-disciplinary team including service owner, product owner, project managers, delivery manager, solutions and technical architect, user researchers, service designer, interaction designer, content designer, business analyst, business change manager, lead developer, front-end developers, back end developers and QA (Perfomance and testing) lead. </p>
			  
            <ul class="list page-contents__list ">
				<li> Service manager -  Emma Petty </li>
				<li> Product owner -  Jason Llewelyn </li>
				<li> Senior project manager - Leeanne Wheeler</li>
				<li> Delivery manager - Andrew Horton </li>
				<li> Project manager - Mark Barwick </li>
				<li> Business analyst - Samantha Tate </li>
				<li> Solution architect - Andy Summers </li>	
				<li> Service designer - Richard Thompson  </li>
				<li> User researcher - Rob Gillham </li>
				<li> User researcher - Jonathan Richardson </li>
			  	<li> Interaction designer - Sunil Kathare </li>
				<li> Content designer - Olivia Sharpe </li>
				<li> Business change manager - Mimi Rao </li>
				<li> Lead developer -  coming soon</li>
			    <li> Back end developers - coming soon</li>
				<li> Front-end developers - coming soon</li>
				<li> QA (Performance and Testing) lead - Samantha Adison </li>

			  </ul>
			  
			  <p>HMCTS reform program has plans to transfer knowledge and skills from contractors. All research and testing is well documented on HMCTS confluence. All code is on HMCTS github. The reform program also has plans to keep improving the service after it goes live.  </p>
          </div>
			   </div>
		  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 4. Use agile methods </h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> We run Scrum - 2 weekly sprints, starting with sprint planing. We have fortnightly review, retro and planning. We have a culture of learn, adapt and improve. We do daily stand ups. We also to do user story mapping and Programme Increment Planning with the program team.
 

 

</p>
             <ul class="list page-contents__list">
				<li> <a href="public/images/documents/ux-sprint-cycle.pdf" target="_blank"> Agile UX sprint cycle | Research and design iteration. </a> </li>
				 
				 <li> <a href="public/images/documents/example-02.pdf" target="_blank"> Example of how the team has responded to user research and usability testing. </a></li>
				
				 <li> <a href="public/images/documents/example-01.pdf" target="_blank"> Example of the design options we explored for our prototype and the reasons we discarded some. </a></li>
				 
				  <li> <a href="public/images/documents/example-03.pdf" target="_blank"> Example of the design options we explored for our prototype and the reasons we discarded some. </a></li>
				 
				 
				<!--<li> <a href="public/images/documents/example-01.pdf" target="_blank">How the design of the service has changed over time because of what you found in user research </a></li>-->
				
				
			  </ul>
          </div>
			   </div>
		   <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 5. Iterate and improve frequently </h2>
          </div>

          <div class="accordion-section-body">
			  
			  <p><a href="index#version-history" target="_blank">Version history shows how </a>:   </p>
            <ul class="list list page-contents__list"><li><!--<h2 class="govuk-heading-m">How to upload e-bundle?</h2>-->


				
we have made changes our service after on user research and user testing session.  
				
				<li>


				
we have made changes to improve it frequently to meet new user needs. 
				
				

				</li>
				<li>
		
explains what we’ve changed and why we have made the changes. 
				
				

				</li>

				</li></ul>
			  
			  
      <p> Our agile design process : </p>


<ul class="list list page-contents__list">

  <li>shows how our service is designed to meet user needs</li>
  <li>shows our process for identifying and prioritising insights from user research</li>
  <li>shows we can move user stories quickly and smoothly between user research and design</li>
  <li>shows we’re analysing user research and using it to improve your service</li>
  <li>shows we’re solving any technical problems we’ve found</li>
</ul>
			  
			  
          </div>

        </div>
			
			<div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 6. Evaluate tools and systems</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>Below documents shows what tools and systems will be using to build, host, operate and measure the service, and how we plan procure them.</p>
			  
            <ul class="list page-contents__list ">
				<li><a href="public/images/tools-to-collaboration.jpg" target="_blank"> Tools we use for collaboration
				 </a>
				</li>
				<li><a href="public/images/tools-to-build.jpg" target="_blank"> Tools and systems we use to build the solution
 
				 </a>
				</li>
				<li><a href="public/images/documents/tech.pdf" target="_blank"> Tech Appendix (Open Architecture, Technology Risks, Deployment Pipeline and Tech stack)

 
				 </a>
				</li>
				
				
				
			  
			  </ul>
			 
          </div>
			   </div><!-- section end -->
			<div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium" style="padding-right:40px; "> 7. Understand security and privacy issues</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>During the assessment we will talk about how we plan to evaluate what user data and information our digital service will be providing or storing and address the security level, legal responsibilities, privacy issues and risks associated with our service. In addition, the GDPR requirements that came into force on the 25 May 2018 will be considered.  </p>
			  
             <ul class="list page-contents__list ">
				<li><a href="public/images/documents/security.pdf" target="_blank"> View information on security and data privacy
				 </a>
				</li>
				 <li><a href="public/images/documents/data.pdf" target="_blank"> View information on data recovery, resilience and disaster recovery
				 </a>
				</li>
			  
			  </ul>
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 8. Make all new source code open</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We will make all new source code open and reusable, and publish it under appropriate licences. </p>
			  
            <ul class="list page-contents__list ">
				<li> All new source code which doesn't contain fraud detection algorithms or code related to unannounced policy changes is coded in the open from inception at https://github.com/hmcts.
 </li>
					<li> Applications comes with reasonable defaults that can be overridden by environment variables. Credentials are stored securely within Azure Vault or Hashicorp Vault.

 </li>			<li> To make code reusable team produces small components that fulfills very specific needs which can be reused by other teams that have similar requirements. </li>
				<li> All code is distributed under the MIT license - HMCTS own the intellectual property
 </li><li> All Reform projects share similar tech stack makes reusability simpler.

 </li>
				
				<li> We will be sharing new design patterns with other teams.  </li>
				<li> We will be creating common web form, which can be reused by others services. </li>
				
				
			  
			  </ul>
			  
			 <!-- <p>HMCTS reform program has principle of trying make code open and reusable.</p>-->
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 9. Use open standards and common platforms</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We plan to use open standards and common government platforms where available, including HMCTS IDAM as an option for identity assurance. </p>
			  
             <ul class="list page-contents__list ">
				
				<li><a href="public/images/documents/open-source.pdf" target="_blank"> View information on open source and standards
 
				 </a>
				</li>
				
				
			  
			  </ul>
			  
			  <p>HMCTS reform program has a principle of trying use open standards and common government platforms where available.</p>
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 10. Test the end-to-end service</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We will be testing the end-to-end service in an environment identical to that of the live version, including on all common browsers and devices, and using dummy accounts and a representative sample of users. </p>
			  
           <ul class="list page-contents__list ">
				<li> <a href="public/images/documents/RQA-usability-testing.pdf" target="_blank" >Link to document showing  the approach the team will follow to do testing </a></li>
				
				
				
			  
			  </ul>
			   <!---->
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 11. Make a plan for being offline</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>In the event of the digital service being taken temporarily offline, users can use old paper based application form, which they are currently using. </p>
			  
			  
			  <ul class="list page-contents__list ">
				
				 <li><a href="public/images/documents/data.pdf" target="_blank"> View information on data recovery, resilience and disaster recovery
				 </a>
				</li>
			  
			  </ul>
			  
			  
			  <p>If the service is offline users will be shown ‘shutter’ page - there are 2 variants of the page.</p>
			  
			  <h3 class="govuk-heading-s">Scenario 1 - offline < 15 minutes
</h3>
			  
            <ul class="list page-contents__list ">
				<li>Display 'shutter' page informing the users that the service is down 
 </li>
				<li> Ask users to ‘Try again in a few minutes’
 </li>
				<li> Signpost to GOV.UK 

 </li>
				
			  
			  </ul>
				  <h3 class="govuk-heading-s">Scenario 2 - offline > 15 minutes
 < 15 minutes
</h3>
			  
            <ul class="list page-contents__list ">
				<li>Display 'shutter' page informing the users that the service is down 

 </li>
				<li> Provide alternative ways to access the service e.g. call the contact centre for a copy of the paper form  (current offline process) 
 </li>
				<li> Signpost to GOV.UK 

 </li>
				
			  
			  </ul>
			  
					  <p> The most likely causes for the service going offline is manual error, this will be mitigated by using automated continuous integration, testing and deployment. </p>
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium" style="padding-right: 40px; "> 12. Make sure users succeed first time</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p>We have made a lot of effort to design a streamlined, intuitive online application process, which will increase efficiency by capturing and promoting only relevant information, reducing error rates, and notifying relevant parties more quickly to enable better resource management.
We have designed a service, which is simple to use and intuitive enough that users succeed the first time. We have tested with users and got very postive feedback and below are links to some positive feedback from users.  </p>
			  
            <ul class="list page-contents__list ">
				<li> <a href="https://realtimeboard.com/app/board/o9J_kzO16Xk=/" target="_blank">Real time board of what users are saying after user testing </a> </li>
				<li> <a href="public/images/documents/feedback-01.mp3" target="_blank">Sound bite of feedback from uesr testing with local authrity</a> </li>
				
				<li><a href="public/images/documents/allocation-proposal-and-fee.mp3" target="_blank">Sound bite of feedback from uesr testing with local authrity </a> </li>
				<li> <a href="public/images/documents/public/images/documents/feedback-02.mp3" target="_blank">Sound bite of feedback from uesr testing with local authrity</a></li>
				<li> <a href="public/images/documents/feedback-03.mp3" target="_blank">Sound bite of feedback from uesr testing with Gatekeepers</a></li>
				<li> <a href="public/images/documents/feedback-04.mp3" target="_blank">Sound bite of feedback from uesr testing with Gatekeepers</a></li>
				<li> <a href="public/images/documents/feedback-05.mp3" target="_blank">Sound bite of feedback from uesr testing with Gatekeepers</a></li>
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium" style="padding-right: 40px; "> 13. Make the user experience consistent with GOV.UK</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> We have designed a service consistent with the user experience of the rest of GOV.UK including using the design patterns and style guide from the new design system. We tried different patterns and decided to use the tasklist pattern from the GOV.UK design system as it meets our users needs. We have collaboratively enganged with GOV.UK design community including: </p>
			  
            <ul class="list page-contents__list ">
				<li> Signing up for digital service designers mailing list. </li>
				<li>  Engaging  with other designers on design channel, content design channel, prototye-kit channel, service design channel and user-research channel on the UK government digital Slack to the validate design choices, share ideas,  ask for help when needed and help other when possible. </li>
				<li> Sharing ideas on the GOV.UK Design System community backlog. </li>
				<!--<li> following and using the #govdesign and #govcontent hashtags on Twitter </li>-->
				<li> Attending events and training from the Cross-Government User-Centred Design Community. For example, atteding training on getting started with the GOV.UK prototype kit and introduction to accessibility.   </li>
				
				<li> Written posts on why we are using the tasklist design pattern. <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/72" target="_blank" >Link on the pattern backlog.</a> </li>
				
				
			  
			  </ul>
			<h3>  In Alpha: </h3>
			  <ul class="list page-contents__list ">
				  <li> We used GOV.UK style guide on content and patterns from the GOV.UK design system to make sure our service content is consistent with content on GOV.UK. </li>
				<li> When we were not sure about a pattern like, gender for children, we contacted Amy Hupe, Senior Content Designer,  GOV.UK Design System for help. We also ran the pattern, which she recommended, past David Martin at GEO (David.MARTIN@geo.gov.uk) to check it's compliant from a policy perspective.  </li>
				<li>  We designed and iterated content for the alpha prototype to ensure accuracy and clarity through consulting with policy officers and subject matter experts. </li>
				<li> We reduced the complexity of the old service by removing and grouping questions. </li>
				 <li> We added new questions based on the feedback from user research. </li>
				<!--<li> following and using the #govdesign and #govcontent hashtags on Twitter </li>-->
			
				
				
				
			  
			  </ul>
			  
	
			  
			<h3> In beta our content designer will consider:</h3> 
			  
			  <ul class="list page-contents__list ">
				  <li> Is our service content consistent with content on GOV.UK </li>
				<li> Is our service content consistent with related services?  </li>
				<li>  Will the language we’ve used be relevant to users further down the line, eg gatekeepers? </li>
				<li> Are there areas that are harder to understand? Can we simplify them or provide helpful guidance? </li>
				<!--<li> following and using the #govdesign and #govcontent hashtags on Twitter </li>-->
				<li> Is there existing related content, for example on GOV.UK, or other communications, that we need to consider? Do we need anything new?  </li>
				
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium" style="padding-right: 40px; "> 14. Encourage everyone to use the digital service</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> We will encourage all users to use the digital service (with assisted digital support if required) alongside we have an appropriate plan to phase out non-digital channels and services. Our project team has plans to do tarining and communication to encourage digital uptake, including plans to ensure effective communication to all users. We plan to proactively engage with stakeholders through internal and external engagement sessions, including interactive workshops, forums and blogging.   </p>
			  
            
			  
			  
          </div>
			   </div><!-- section end -->
	    <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 15. Collect performance data</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> During the assessment  we will be talking about collecting performance data and how we will use this data to analyse the success of the service and to translate this into features and tasks for the next phase of development. </p>
			  
          <ul class="list page-contents__list ">
				<li><a href="public/images/documents/performance-data.pdf" target="_blank"> View information on performance data on the Performance Platform 
				 </a>
				</li>
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 16. Identify performance indicators</h2>
          </div>
          <div class="accordion-section-body">
			  
			 
			  
			  <p> We have identified key performance indicators (KPIs)for our  service. During the assessment we will run through them in detail and talk about a plan to enable improvements. </p>
			  
              <ul class="list page-contents__list ">
				<li><a href="public/images/documents/kpis.pdf" target="_blank"> View service KPIs 
				 </a>
				</li>
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	   <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 17. Report performance data on the Performance Platform</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> During the assessment we will be talking about performance data on the Performance Platform. In beta we'll have report data and information on how we'll be assessed in the future.</p>
			  
			  
			  
			     <ul class="list page-contents__list ">
				<li><a href="public/images/documents/performance-data.pdf" target="_blank"> View information on performance data on the Performance Platform 
				 </a>
				</li>
			  
			  </ul>
			  
			  
            <!--<ul class="list page-contents__list ">
				<li> coming soon </li>
				<li> coming soon </li>
				
				
			  
			  </ul>-->
			  
			  
          </div>
			   </div><!-- section end -->
	  <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="heading-medium"> 18. Test with the minister</h2>
          </div>
          <div class="accordion-section-body">
			  
			  <p> We have booked in testing session with  minister responsible for our service. </p>
			  
            <ul class="list page-contents__list- ">
				<li> We have a confirmation from the minister’s private office, that we have an agreed slot on <strong style="font-weight: bold">6th September</strong> with  <strong style="font-weight: bold">Lucy Frazer </strong>  QC MP. She has been the Member of Parliament (MP) for South East Cambridgeshire since the 2015 general election, and currently serves as Parliamentary Under-Secretary of State at the Ministry of Justice.</li>
				<!--<li> Here is a link to draft video, which shows the journey that we will testing with the Minster :<br/> <a href="https://vimeo.com/280883175" target="_blank"> https://vimeo.com/280883175</a>
 <br/> <p> &nbsp; &nbsp;Password: publiclaw321</p> </li>-->
				
				
			  
			  </ul>
			  
			  
          </div>
			   </div><!-- section end -->
	  
      </div>



    <script>
      if (
        'addEventListener' in document &&
        document.querySelectorAll
        ) {

        document.addEventListener('DOMContentLoaded', function() {

          var accordions = document.querySelectorAll('.accordion')

          for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
          };

        })

      }
    </script>
			</div>
			</div>





     <br/>  <br/>






<br/>


    </div>
  </div>
</main>

{% endblock %}
