{% extends "layout-jui-v3.html" %}

{% block page_title %}
  View Applications
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full column-minimum">

 <!--     <a href="la-dashboard.html" class="link-back">Back</a>-->

		<!--Breadscrumbs

		<div class="govuk-c-breadcrumbs">
  <ol class="govuk-c-breadcrumbs__list" aria-current="page">
    <li class="govuk-c-breadcrumbs__list-item">
     Dashboard
    </li>
   

  </ol>
</div>--><br/>

      <h1 class="govuk-heading-l"><span class="govuk-caption-m"> Welcome Helen Ryan </span>
         Dashboard
      </h1>
<!--<div class="column-full" style="border-bottom: 1px solid #ccc; display: block; padding: 0px;"> <nav class="app-c-navigation govuk-h-clearfix">
  <ul class="app-c-navigation__list">
    <li class="app-c-navigation--current-page">
      <a class="govuk-link" href="la-view-applications.html">C110a application</a>
    </li>
    <li >
      <a class="govuk-link" href="-la-c2-applications"> C2 application</a>
    </li>



  </ul>
		</nav></div>--> <h2 class="heading-medium">
        New applications   </h2>
<p class="form-hint">View new applications and assign guardian. 
	
		</p>

      <dl class="govuk-check-your-answers cya-questions-short">
		  <div >
          <dt class="cya-question ">
            Application 
          </dt>
			  <dd class="cya-answer app-mobile-hide-2">
           <strong style="font-weight: bold;"> Hearing   </strong>
          </dd>
			<dd class="cya-answer app-mobile-hide-2">
           <strong style="font-weight: bold;"> From </strong>
          </dd>
			  <dd class="cya-answer app-mobile-hide-2">
           <strong style="font-weight: bold;"> Type </strong>
          </dd>
          <dd class="cya-answer app-mobile-hide-2">
          <strong style="font-weight: bold;"> Date </strong>
          </dd>
          <dd class="cya-change">

         <strong style="font-weight: bold;"> Action</strong>

          </dd>
        </div>
        <div>
          <dt class="cya-question">
          <a href="c-assign-guardian.html">  C110A 00388 </a> 
          </dt>
			<dd class="cya-answer">
           <span class="task-new"> Same day </span>
			  </dd>
			<dd class="cya-answer">
            Borough of Southwark
          </dd>
			<dd class="cya-answer">
             Care and EPO
          </dd>
          <dd class="cya-answer">
            20 Jun 2018
          </dd>
          <dd class="cya-change">

             <a href="c-assign-guardian.html">  View</a><span class="visually-hidden">  application</span>

          </dd>
        </div>
		  <div>
          <dt class="cya-question">
			  <a href="c-assign-guardian.html"> C110A 00382</a>
          </dt>
			  		<dd class="cya-answer">
           <span class="task-new"> 3 days </span>
			  </dd>
			  <dd class="cya-answer">
           Borough of Camden
			  </dd>
			  <dd class="cya-answer">
             Care and EPO
          </dd>
          <dd class="cya-answer">
            20 Jun 2018
          </dd>
          <dd class="cya-change">

           <a href="c-assign-guardian.html">  View</a><span class="visually-hidden">  application</span>
          </dd>
        </div>
		
		   <div>
          <dt class="cya-question">
			  <a href="c-assign-guardian.html" >  C110A 00383</a> 
          </dt>
			   <dd class="cya-answer">
           <span class="task-new"> 5 days </span>
			  </dd>
			  <dd class="cya-answer">
           Borough of Fulham 
			  </dd>
			   <dd class="cya-answer">
             Care order
          </dd>
          <dd class="cya-answer">
             20 Jun 2018
          </dd>
          <dd class="cya-change">

            <a href="c-assign-guardian.html">  View  </a><span class="visually-hidden">  application</span>
          </dd>
        </div>


      </dl>
		<p></p>

<h2 class="govuk-heading-m">
         Cases in progress 
      </h2>


<p class="form-hint">View case information, directions status,  update directions status, view order, ask questions and more. 
	
		</p>
     

      
      <dl class="govuk-check-your-answers cya-questions-short" >
		  <div class="app-mobile-hide-2">
          <dt class="cya-question ">
            Case
          </dt>
			  <dd class="cya-answer">
           <strong style="font-weight: bold;"> Status </strong>
          </dd>
			<dd class="cya-answer">
           <strong style="font-weight: bold;"> From </strong>
          </dd>
          <dd class="cya-answer ">
          <strong style="font-weight: bold;"> Type </strong>
          </dd>
			  <dd class="cya-answer ">
          <strong style="font-weight: bold;"> Date </strong>
          </dd>
          <dd class="cya-change">
            
         <strong style="font-weight: bold;"> Action</strong>
         
          </dd>
        </div>
        <div>
          <dt class="cya-question">
          <a href="c-case-summary.html"> PL00388</a> 
          </dt>
			<dd class="cya-answer">
            CMH scheduled
          </dd>
			<dd class="cya-answer">
            Borough of Southwark 
          </dd>
			<dd class="cya-answer">
            Care and EPO
          </dd>
          <dd class="cya-answer">
            20 Jun 2018
          </dd>
          <dd class="cya-change">
           
             <a href="c-case-summary.html"> View</a> 
           
          </dd>
        </div>
		
		  
		  <div>
          <dt class="cya-question">
          <a href="c-case-summary.html">  PL00388</a>  
          </dt>
			  <dd class="cya-answer">
            CMH scheduled
          </dd>
			<dd class="cya-answer">
             Borough of Fulham 
          </dd>
			<dd class="cya-answer">
             Care order
          </dd>
          <dd class="cya-answer">
          20 Jun 2018
          </dd>
          <dd class="cya-change">
            
               <a href="c-case-summary.html"> View</a> 
           
          </dd>
        </div>
		  





      </dl>

      
     

<!--<h2 class="heading-medium">
        Upcoming applications   </h2>
	<p class="form-hint">List of upcoming applications in the near future so that appropriate resources can be put in place to support them. </p>


      <dl class="govuk-check-your-answers cya-questions-short">
		  <div>
          <dt class="cya-question">
            Application 
          </dt>
			<dd class="cya-answer-">
           <strong class="govuk-heading-s"> From </strong>
          </dd>
          <dd class="cya-answer ">
          <strong style="font-weight: bold;">  </strong>
          </dd>
          <dd class="cya-change">

         <strong class="govuk-heading-s"> Status</strong>

          </dd>
        </div>
         <div>
          <dt class="cya-question">
			  <a href="g-upcoming-application" >  C110A 00383</a>
          </dt>
			  <dd class="cya-answer-">
              Borough of Fulham
			  </dd>
          <dd class="cya-answer">

          </dd>
          <dd class="cya-change">

              80% complete <span class="visually-hidden"> </span>

          </dd>
        </div>
		  <div>
          <dt class="cya-question">
			  <a href="g-process-application"> C110A 00389</a>
          </dt>
			  <dd class="cya-answer-">
           Borough of Hammersmith
			  </dd>
          <dd class="cya-answer">

          </dd>
          <dd class="cya-change">

            30% complete
            </a>
          </dd>
        </div>
		  <div>
          <dt class="cya-question">
			  <a href="g-upcoming-application" > C110A 00383</a>
          </dt>
			  <dd class="cya-answer-">
             Borough of Brent
			  </dd>
          <dd class="cya-answer">

          </dd>
          <dd class="cya-change">

             20% complete

          </dd>
        </div>
		   <div>
          <dt class="cya-question">
			  <a href="g-upcoming-application" >  C110A 00383</a>
          </dt>
			  <dd class="cya-answer-">
           Borough of Southwark
			  </dd>
          <dd class="cya-answer">

          </dd>
          <dd class="cya-change">
            60% complete

          </dd>
        </div>
		   <div>
          <dt class="cya-question">
			  <a href="g-upcoming-application" >  C110A 00383</a>
          </dt>
			  <dd class="cya-answer-">
              Borough of Hounslow
			  </dd>
          <dd class="cya-answer">

          </dd>
          <dd class="cya-change">

              80% complete <span class="visually-hidden"> </span>

          </dd>
        </div>
-->





      </dl>





     <br/>  <br/>






<br/>


    </div>
  </div>
</main>

{% endblock %}
