{% extends "layout-la.html" %}

{% block page_title %}

C110a - Documents
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full column-minimum">



<a href="javascript: history.go(-1)" class="link-back">Back</a>

{% if data['change'] == "true" %}
  <form action="c110a-review#upload">

{% else %}

  <form action="c110a">
{% endif %}
   <h1 class="govuk-heading-xl"> Annex documents</h1>
<p>You must upload these documents if possible. Give the reason and date you expect to provide it if you don’t have a document yet.</p>
<p>If you have a Social Work Evidence Template (SWET), add it under ‘Other documents’.</p>


			   <h2 class="heading-medium">  1. Social work chronology</h2>

		<div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>


       <div class="panel">
        <div class="multiple-choice">
          <input id="ammex-d-01" name="ammex-documents-01" type="radio" value="Attached" {{ checked('ammex-documents-01','Attached') }} >
          <label for="Interim-supervision-order">Attached</label>
        </div>


        <div class="multiple-choice" data-target="to-follow-01">
          <input id="ammex-d-01" name="ammex-documents-01" type="radio" value="To follow" {{ checked('ammex-documents-01','To follow') }}>
          <label for="Others">To follow</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="to-follow-01">
          <label class="form-label" for="other-2">Specify why not included and the date you will upload the document. </label>
          <textarea class="form-control" type="text" id="other-2y" name="to-follow-01-reason">{{ data['to-follow-01-reason'] }} </textarea>
        </div>
			</div><hr />
				   <h2 class="heading-medium">  2. Social work statement and genogram
</h2>
						<div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>
		 <div class="panel">
        <div class="multiple-choice">
          <input id="ammex-d-01" name="ammex-documents-02" type="radio" value="Attached" {{ checked('ammex-documents-02','Attached') }}>
          <label for="Interim-supervision-order">Attached</label>
        </div>


        <div class="multiple-choice" data-target="to-follow-02">
          <input id="ammex-d-01" name="ammex-documents-02" type="radio" value="To follow" {{ checked('ammex-documents-02','To follow') }}>
          <label for="Others">To follow</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="to-follow-02">
          <label class="form-label" for="other-2">Specify why not included and the date you will upload the document. </label>
          <textarea class="form-control" type="text" id="other-2y" name="to-follow-02-reason"> {{ data['to-follow-02-reason'] }} </textarea>
        </div>
			</div>	<hr />
				   <h2 class="heading-medium">  3. Social work assessment
</h2>
<span id="social-work-assessment-hint" class="govuk-hint">
      Relevant core, kinship or family assessments.
    </span>
	  <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>
			 <div class="panel">
        <div class="multiple-choice">
          <input id="ammex-d-01" name="ammex-documents-03" type="radio" value="Attached" {{ checked('ammex-documents-03','Attached') }}>
          <label for="Interim-supervision-order">Attached</label>
        </div>


        <div class="multiple-choice" data-target="to-follow-03">
          <input id="ammex-d-01" name="ammex-documents-03" type="radio" value="To follow" {{ checked('ammex-documents-03','To follow') }}>
          <label for="Others">To follow</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="to-follow-03">
          <label class="form-label" for="other-2">Specify why not included and the date you will upload the document. </label>
          <textarea class="form-control" type="text" id="other-2y" name="to-follow-03-reason">{{ data['to-follow-03-reason'] }} </textarea>
        </div>
			</div>

			<hr />
				   <h2 class="heading-medium">  4. Care plan
</h2>
						<div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>
			 <div class="panel">
        <div class="multiple-choice">
          <input id="ammex-d-01" name="ammex-documents-04" type="radio" value="Attached" {{ checked('ammex-documents-04','Attached') }}>
          <label for="Interim-supervision-order">Attached</label>
        </div>


        <div class="multiple-choice" data-target="to-follow-04">
          <input id="ammex-d-01" name="ammex-documents-04" type="radio" value="To follow" {{ checked('ammex-documents-04','To follow') }}>
          <label for="Others">To follow</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="to-follow-04">
          <label class="form-label" for="other-2">Specify why not included and the date you will upload the document. </label>
          <textarea class="form-control" type="text" id="other-2y" name="to-follow-04-reason">{{ data['to-follow-reason'] }} </textarea>
        </div>
			</div>
		<!--Add extra documents-->	<script>


var counter = 1;

var limit = 5;

function addInput(divName){

     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");

     }

     else {

          var newdiv = document.createElement('div');

          newdiv.innerHTML =  "<div class='form-group'><label class='form-label' for='child-1-full-name'>Document title<span class='form-hint'>For example, SWET</span></label><input type='text' class='form-control' id='document title' name='document-title'></div><div class='form-group'></div><div class='form-group'><label class='form-label' for='file-input'>Upload a file</label><input type='file' id='file-input'>";

          document.getElementById(divName).appendChild(newdiv);




          counter++;

     }

}


</script>
			<hr /><!--<form method="POST">-->
     <div id="dynamicInput">
         <!-- Entry 1<br><input type="text" name="myInputs[]">-->

     </div>
     <input type="button" class="button" value="Upload other documents" onClick="addInput('dynamicInput');">



<br/><hr/>


{% if data['change'] == "true" %}
  <input class="button" type="submit" value="Save and continue">

{% else %}

<input class="button" type="submit" value="Save">
{% endif %}

</form>



















    </div>
  </div>
</main>

{% endblock %}
