{% extends "layout-la.html" %}

{% block page_title %}

C110a - Orders
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full column-minimum">



<a href="javascript: history.go(-1)" class="link-back">Back</a>



{% if data['change'] == "true" %}
  <form action="c110a-review#orders">

{% else %}

  <form action="c110a">
{% endif %}



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which orders and directions do you want to apply for?
      </h1>
    </legend>
    <span id="nationality-hint" class="govuk-hint">
  Select all that apply
</span>

    <div class="govuk-checkboxes" data-module="checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="order-type" name="order-type" type="checkbox" value="Care order" data-aria-controls="conditional-order-type-1" {{ checked('order-type','Care order') }}>
        <label class="govuk-label govuk-checkboxes__label" for="order-type-conditional-1">
      Care order
      </label>
      </div>
			<div class="govuk-checkboxes__conditional" id="conditional-order-type-1" >
<div class="govuk-form-group">
          <label class="govuk-label" for="direction">
  Directions and interim orders, if needed
  </label>
  
    <textarea class="govuk-textarea" id="direction" name="direction" rows="3" aria-describedby="more-detail-hint">{{ data['direction'] }}</textarea>
        </div>
       

    </div>
     <!-- <div class="govuk-checkboxes__conditional" id="conditional-order-type-1">

        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-1" name="order-type-detail" type="checkbox" value="Care" {{ checked('order-type-detail','Care') }}>
        <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
        Care
      </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-2" name="order-type-detail" type="checkbox" value="Supervision" {{ checked('order-type-detail','Supervision') }}>
        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
      Supervision
      </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="order-type-detail" type="checkbox" value="Interim care order" {{ checked('order-type-detail','Interim care order') }}>
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
      Interim care order
      </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="order-type-detail" type="checkbox" value="Interim supervision order" {{ checked('order-type-detail','Interim supervision order') }}>
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
    Interim supervision order
      </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="order-type-conditional-others-1" name="order-type-detail" type="checkbox" value="Other" data-aria-controls="conditional-order-type-others-1" {{ checked('order-type-detail','Other') }}>
        <label class="govuk-label govuk-checkboxes__label" for="order-type-conditional-2">
        Other
      </label>
      </div>
      <div class="govuk-checkboxes__conditional" id="conditional-order-type-others-1">
        <div class="govuk-form-group">
  <label class="govuk-label" for="contact-by-phone">
Please specify
</label>
  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="order-type-detail-others-1" type="text" value="{{ data['order-type-detail-others-1'] }}">
</div>
    </div>
    </div>

        </div>

      </div>-->
		
		 <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="order-type" name="order-type" type="checkbox" value="Supervision" data-aria-controls="conditional-order-type-2" {{ checked('order-type','Supervision') }}>
        <label class="govuk-label govuk-checkboxes__label" for="order-type-conditional-1">
      Supervision order
      </label>
      </div>
			<div class="govuk-checkboxes__conditional" id="conditional-order-type-2" >
<div class="govuk-form-group">
          <label class="govuk-label" for="direction">
  Directions and interim orders, if needed
  </label>
  
    <textarea class="govuk-textarea" id="direction" name="direction" rows="3" aria-describedby="more-detail-hint">{{ data['direction'] }}</textarea>
        </div>
       

    </div>
		
		 <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="order-type" name="order-type" type="checkbox" value="Education supervision order" data-aria-controls="conditional-order-type-3" data-aria-controls="conditional-order-type-3" {{ checked('order-type','Education supervision order') }}>
        <label class="govuk-label govuk-checkboxes__label" for="order-type-conditional-1">
     Education supervision order
      </label>
      </div>
		<div class="govuk-checkboxes__conditional" id="conditional-order-type-3" >
<div class="govuk-form-group">
          <label class="govuk-label" for="direction">
  Specify direction sought
  </label>
	
  
    <textarea class="govuk-textarea" id="direction" name="direction" rows="3" aria-describedby="more-detail-hint">{{ data['direction'] }}</textarea>
        </div>
       

    </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="order-type-conditional-2" name="order-type" type="checkbox" value="Emergency protection order" data-aria-controls="conditional-order-type-4" {{ checked('order-type','Emergency protection order') }}>
        <label class="govuk-label govuk-checkboxes__label" for="order-type-conditional-2">
        Emergency protection order
      </label>
      </div>
      <div class="govuk-checkboxes__conditional" id="conditional-order-type-4" >
<div class="govuk-form-group">
          <label class="govuk-label" for="direction">
  Specify direction sought
  </label>
	<!--<span class="govuk-hint"> For example, authorisation for entry of premises. Refer to <a href="https://www.legislation.gov.uk/ukpga/1989/41/contents" target="_blank">  the Children Act 1989 </a>for more examples. </span>-->
  
    <textarea class="govuk-textarea" id="direction" name="direction-epo" rows="3" aria-describedby="more-detail-hint">{{ data['direction-epo'] }}</textarea>
        </div>
       

    </div>
		  <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="order-type-conditional-others-1" name="order-type" type="checkbox" value="Other" data-aria-controls="conditional-order-type-others-1" {{ checked('order-type','Other') }}>
        <label class="govuk-label govuk-checkboxes__label" for="order-type-conditional-2">
       Other order under part 4 of the Children Act 1989
      </label>
      </div>
      <div class="govuk-checkboxes__conditional" id="conditional-order-type-others-1">
        <div class="govuk-form-group">
  <label class="govuk-label" for="contact-by-phone">
Please specify
</label>
  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="order-type-detail-others-1" type="text" value="{{ data['order-type-detail-others-1'] }}">
</div>
		  <div class="govuk-form-group">
          <label class="govuk-label" for="direction">
  Specify direction sought
  </label>
  
    <textarea class="govuk-textarea" id="direction" name="direction" rows="3" aria-describedby="more-detail-hint">{{ data['direction'] }}</textarea>
        </div>
    </div>
  </fieldset>
</div>





  {% if data['change'] == "true" %}
    <input class="button" type="submit" value="Save and continue">

  {% else %}

  <input class="button" type="submit" value="Save">
  {% endif %}

</form>


<!--<p>Refer to <a href="https://www.legislation.gov.uk/ukpga/1989/41/contents" target="_blank">  The Children Act 1989 </a>for more examples   </p>-->






    </div>
  </div>
</main>

{% endblock %}
