{% extends "layout-sign-out.html" %}

{% block page_title %}
  Family Public Law prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
	  <div class="column-full column-minimum">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
	<br/>

      <h1 class="govuk-heading-xl">
       <span class="govuk-caption-l"> Version 3.6 </span>
		  Public Law


      </h1>
	  <!--<h2 class="govuk-heading-m"><span class="govuk-caption-m">Information and documents to support</span>  Alpha assessments</h2>
	  <ul class="list list-bullet">
  <li><a href="http://localhost:3000/01-alpha-assessment" target="_blank">Information and documents to support Alpha assessment by criteria </a></li>
 -->


<!----><h2 class="govuk-heading-m" style="font-size:150%; line-height: 32px;"> <a href="01-alpha-assessment"> Information and documents to support Alpha assessment by criteria </a></h2>
      <p>

      </p>
 <h2 class="govuk-heading-l">Local authority </h2>

	  <a href="la-sign-in.html" role="button" class="govuk-button govuk-button--start">Start </a>

  <!--<ul class="list list-bullet"><li><strong><a href="start-page">Start page on GOV.UK</a> </strong></li><strong>
  <li><strong><a href="-la-sign-in-admin.html">Admin staff or social worker's  journey</a> </strong></li><strong>
  <li><strong><a href="-la-sign-in-solicitor.html">Solicitor or legal adviser's journey</a> </strong></li><strong>
</strong></strong></strong></ul>
--> <ul class="list list-bullet">
  <li><a href="start-page.html" >Start page on GOV.UK </a></li>

		<!--  <li><a href="-email-to-la">Confimation email sent to local authority </a></li>-->


</ul>



		<hr />

	   <h2 class="govuk-heading-l">Gatekeeper  </h2>

		   <a href="g-sign-in.html" class="govuk-button govuk-button--start">Start </a>
 <!--     <ul class="list list-bullet">
  <li><strong><a href="g-sign-in.html"> Gatekeeper - Legal adviser's journey</a> </strong></li><strong>
  <li><strong><a href="-g-sign-in.html"> Court admin staff's journey</a> </strong></li><strong>
  <li><strong><a href="g-sign-in.html">Judge's journey</a> </strong></li><strong>
</strong></strong></strong></ul>-->


	  	<hr/>

	   <h2 class="govuk-heading-l">CAFCASS  </h2>
		     <a href="c-sign-in.html" class="govuk-button govuk-button--start">Start </a>
     <!--  <ul class="list list-bullet">
 <li><strong><a href="c-sign-in.html">CAFCASS adminstrator's journey</a> </strong></li><strong>
  <li><strong><a href="-c-sign-in.html"> CAFCASS guardian's journey</a> </strong></li><strong>
  <li><strong><a href="c-sign-in.html">CAFCASS solicitor's journey</a> </strong></li><strong>
</strong></strong></strong></ul>-->
	  <hr />
	    <h2 class="govuk-heading-l">Parent solicitor </h2>
		   <a href="p-sign-in.html" class="govuk-button govuk-button--start">Start </a>
      <!--<ul class="list list-bullet">
  <li><strong><a href="p-sign-in.html"> Parent solicitor's journey</a> </strong></li><strong>

</strong></strong></strong></ul>-->

      <h3 class="govuk-heading-m"><span class="govuk-caption-m"></span>  Email mockups </h3>
	  <ul class="list list-bullet">
  <li><a href="-email-to-gatekeeper" >Email sent to gatekeeper when a new application is received from local authority </a></li>

		  <li><a href="-email-to-la">Confimation email sent to local authority </a></li>


</ul>

      <hr />
<details class="govuk-details" id="version-history">
  <summary class="govuk-details__summary">

    <span class="govuk-details__summary-text">
      Version history
    </span>
  </summary>
  <div class="govuk-details__text">
	   <h3 class="govuk-heading-m"><span class="govuk-caption-m">20 August 2018</span>  Version 3.1 - Sprints 6 and 7</h3>
	  <ul class="list list-bullet">
  <li><a href="https://publiclaw.herokuapp.com/c110a" target="_blank">https://publiclaw.herokuapp.com/c110a</a></li>


		<li>
	  <p>  Made changes based on  <a href="https://tools.hmcts.net/confluence/display/RPL/Sprint+6+-+Gatekeeper+and+Local+Authorities" target="_blank"> findings</a> from user testing sessions with local authority, admin and gatekeepers between  1st August 2018 to 15th August 2018. </p>
	  </li>

		  <li>Moved the orders needed and hearing needed to the top of the list. </li>
		  <li>Add question about confidential contact details from C8 form to children, repsondents and others who should be given notice. </li>
		  <li>Changed the questions in hearing needed. Instead of asking if they need a urgent hearing we are asking if they need a hearing on the same day, within 3 days, 5 days, 7 days, 12 days or with in 18 days.   </li>
		  <li>Made content changes to various sections based on findings from user research. </li>
		   <li>Made more content changes to various sections based on engagement with policy team. </li>

</ul>

	  <h3 class="govuk-heading-m"><span class="govuk-caption-m">25 July 2018</span>  Version 2.2 - Sprint 5</h3>
	  <ul class="list list-bullet">
  <li><a href="https://publiclaw.herokuapp.com/-c110a" target="_blank">https://publiclaw.herokuapp.com/-c110a</a></li>


		<li>
	  <p>  Made lots of content changes based on  <a href="https://tools.hmcts.net/confluence/display/RPL/U62+-+Solicitor%2C+local+authority+-+2018-07-24" target="_blank"> findings</a> from  user testing session with Local authority, solicitor on 24th July 2018. </p>
	  </li>
		  <li>Made a lot of content changes based findings from user research.  </li>
		  <li>Added "Do you need help?" section above the footer. </li>
		  <li>On the <a href="https://publiclaw.herokuapp.com/start-page" target="_blank">start page </a>we added "The online service is also available in Welsh (Cymraeg)".

		  </li>

</ul>
	    <h3 class="govuk-heading-m"><span class="govuk-caption-m">23 July 2018</span>  Version 2.1 - Sprint 5 </h3>
	  <ul class="list list-bullet">
  <li><a href="https://publiclaw.herokuapp.com/-c110a" target="_blank">https://publiclaw.herokuapp.com/-c110a</a></li>


		<li>
	  <p>  Made changes based on  <a href="https://tools.hmcts.net/confluence/pages/viewpage.action?pageId=663651026&__ncforminfo=wWgaRpWMzFIANIPXpAi4QANEY9DdltOTrWikq0W4tVl9swAwzfX6A3SlIU6BnQaY6Ec8hfedLS6GCxMBPypI7yW2c8BlGod6" target="_blank"> findings</a> from U28 & U29 - user testing session with local authorities, 2 x legal assistants on 19th July 2018. </p>
	  </li>

		  <li>Made the textarea bigger for threshold criteria in under grounds for application. </li>
		  <li>Made various changes to questions in C110A based on user reaserch findings.</li>

</ul>

	  <h3 class="govuk-heading-m"><span class="govuk-caption-m">10 July 2018</span>  Version 2 - Sprint 3 and 4</h3>
	  <ul class="list list-bullet">
  <li><a href="https://publiclaw.herokuapp.com/-c110a" target="_blank">https://publiclaw.herokuapp.com/-c110a</a></li>


		<li>
	  <p>  Made content changes to the C110A application form  based on user reaserch with gatekeepers.  </p>


			<a href="https://tools.hmcts.net/confluence/display/RPL/Sprint+4+-+Gatekeepers" target="_blank"> Findings</a></li>
	  </li>
	  <li> Added "other proceedings and allocation proposal" section with a link to president’s guidance on allocation.</li>
<li>Changed questions in hearings needed. Instead of asking if they need a urgent hearing, we are asking if they need a hearing with in 24 hours or between days 1 to 12 days and to specify reason and dates for consideration.
For example, need hearing before 30 July 2018 as the child is being released from hospital on 31 July 2018.</li>

</ul>
	   <h3 class="govuk-heading-m"> <span class="govuk-caption-m">10 June 2018</span>  Version 1 - Sprint 1 and 2</h3>
	  <ul class="list list-bullet">
  <li><strong><a href="https://publiclawtest.herokuapp.com/-c110a" target="_blank">https://publiclawtest.herokuapp.com/-c110a</a></strong></li>
  <li><strong>Username:</strong> publiclaw</li>
	<li><strong>Password:</strong> pa321</li>


		<li>
	  <p>  Started to use the task-list pattern from the GOV.UK new design system.  </p>

	  </li>

		  <li>
	  <p>  Experimented with various design options and tried different approaches to meet users needs. We ran team design workshops to design solutions based on user needs and pain points discovered through user research. The workshops supported team conversation and increased shared understanding of our users current experience, their frustrations and annoyances. </p>

	  </li>

		  <li>
	  <p> Added and removed questions and content based on user reaserch with gatekeepers and local authorities. We did face to face inetrviews and observed local authorities filling in the C110A application form and gatekeepers processing the application. We printed out cards with all questions in the application form, to run workshops, with users to find out their pain points, which questions meet user needs, which questions needed changing, which question needed to be removed and if any new ones needed to added. </p>

	  </li>
		  <li> <a href="https://realtimeboard.com/app/board/o9J_kzS5cDY=/" target="_blank"> Link to real time board with all pages in the application form, with what local authorites said, what gatekeeper said and recommedations to improve the online application.  </a></li>
</ul>
  </div>
</details>
    </div>
  </div></div>


</main>

{% endblock %}
