{% extends "layout-sign-out.html" %}

{% block page_title %}
  Public Law prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
	  <div class="column-full column-minimum">
	  
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
	<br/>

      <h1 class="govuk-heading-xl">
       
		  Public Law 
        <span class="govuk-caption-l"> Version 2.1 </span>
        
      </h1>
      <p>
        
      </p>

      

      <h2 class="govuk-heading-l">Local authority's journey </h2>
		
		 <a href="-la-sign-in.html" role="button" class="govuk-button govuk-button--start">Start </a>
		
		
		<hr />
		 

      

      <h2 class="govuk-heading-l">Gatekeeper's journey </h2>
		
		 <a href="g-sign-in.html" class="govuk-button govuk-button--start">Start </a>
		
		<hr />
		
		<h2 class="govuk-heading-l">CAFCASS solicitor's journey </h2>
		
		 <a href="00-c-sign-in.html" class="govuk-button govuk-button--start">Start </a>
		
		<hr />
		
		<h2 class="govuk-heading-l">Judge's journey </h2>
		
		 <a href="-j-sign-in.html" class="govuk-button govuk-button--start">Start </a>
		
		<hr />
		
		 
		
		 <h2 class="govuk-heading-l">Parent solicitor's journey </h2>
		
		 <a href="-p-sign-in.html" class="govuk-button govuk-button--start">Start </a>
		
		<hr />
		 <h2 class="govuk-heading-l">Parent's journey </h2>
		
		 <a href="00-p-sign-in.html" class="govuk-button govuk-button--start">Start </a>

      <hr />
<details class="govuk-details">
  <summary class="govuk-details__summary">
	  	
    <span class="govuk-details__summary-text">
      Version history
    </span>
  </summary>
  <div class="govuk-details__text">
	    <h3 class="govuk-heading-m"><span class="govuk-caption-m">25 July 2018</span>  Version 2.2 </h3>
	  <ul class="list list-bullet">
  <li><a href="https://publiclaw.herokuapp.com/-c110a" target="_blank">https://publiclaw.herokuapp.com/-c110a</a></li>
 
		 
		<li> 
	  <p>  Made changes based on  <a href="https://tools.hmcts.net/confluence/display/RPL/U62+-+Solicitor%2C+local+authority+-+2018-07-24" target="_blank"> findings</a> from U62 - user testing session with Local authority, Solicitor on 24th July 2018. </p>
	  </li> 
		  
		  <li>Added "Contact us for help" section under the footer. </li>
		  <li>On the start page we added "The online service is also available in Welsh (Cymraeg).  </li>
 
</ul>
	    <h3 class="govuk-heading-m"><span class="govuk-caption-m">23 July 2018</span>  Version 2.1 </h3>
	  <ul class="list list-bullet">
  <li><a href="https://publiclaw.herokuapp.com/-c110a" target="_blank">https://publiclaw.herokuapp.com/-c110a</a></li>
 
		 
		<li> 
	  <p>  Made changes based on  <a href="https://tools.hmcts.net/confluence/pages/viewpage.action?pageId=663651026&__ncforminfo=wWgaRpWMzFIANIPXpAi4QANEY9DdltOTrWikq0W4tVl9swAwzfX6A3SlIU6BnQaY6Ec8hfedLS6GCxMBPypI7yW2c8BlGod6" target="_blank"> findings</a> from U28 & U29 - user testing session with Local authorities, 2 x legal assistants on 19th July 2018. </p>
	  </li> 
		  
		  <li>Made the textarea bigger for threshold criteria in under grounds for application. </li>
 
</ul>    <h3 class="govuk-heading-m"><span class="govuk-caption-m">19 July 2018</span>  Version 2 </h3>
	  <ul class="list list-bullet">
  <li><a href="https://publiclawtest.herokuapp.com/-c110a" target="_blank">https://publiclaw.herokuapp.com/-c110a</a></li>
 
		 
		<li> 
	  <p>  U28 & U29 - Tested with Local authorities, legal assistants x2 - 2018-7-19 </p>
	  <a href="https://tools.hmcts.net/confluence/pages/viewpage.action?pageId=663651026&__ncforminfo=wWgaRpWMzFIANIPXpAi4QANEY9DdltOTrWikq0W4tVl9swAwzfX6A3SlIU6BnQaY6Ec8hfedLS6GCxMBPypI7yW2c8BlGod6" target="_blank"> Finding</a></li> 
 
</ul>
	 
	  
	  <h3 class="govuk-heading-m"><span class="govuk-caption-m">10 July 2018</span>  Version 2 </h3>
	  <ul class="list list-bullet">
  <li><a href="https://publiclaw.herokuapp.com/-c110a" target="_blank">https://publiclaw.herokuapp.com/-c110a</a></li>
  
		
		<li> 
	  <p>  Made content changes to the C110A application form  based on user reaserch with Gatekeepers  </p>
			
			
			<a href="https://tools.hmcts.net/confluence/display/RPL/Sprint+4+-+Gatekeepers" target="_blank"> Findings</a></li>
	  </li> 
	  <li> Added "other proceedings and allocation proposal" section with link to president’s guidance on allocation.</li>
<li>Changed questions in hearings needed. Instead of asking if they need a urgent hearing, we are asking if they need a hearing with in 24 hours or between days 1 to 12 days and to specify reason and dates for consideration.
For example, need hearing before 30 July 2018 as the child is being released from hospital on 31 July 2018.</li>
 
</ul>
	   <h3 class="govuk-heading-m"> <span class="govuk-caption-m">10 June 2018</span>  Version 1 </h3>
	  <ul class="list list-bullet">
  <li><strong><a href="https://publiclawtest.herokuapp.com/-c110a" target="_blank">https://publiclawtest.herokuapp.com/-c110a</a></strong></li>
  <li><strong>Username:</strong> publiclaw</li>
	<li><strong>Password:</strong> pa321</li>
 
		 
		<li> 
	  <p>  Started to use the task-list pattern from the GOV.UK new design system.  </p>
			
	  </li> 
</ul>
  </div>
</details>
    </div>
  </div></div>
	  
	  
</main>

{% endblock %}


