{% extends "layout-la.html" %}

{% block page_title %}
 (C110A) - Apply for a care, supervision or emergency protection order
{% endblock %}

{% block content %}


<!--<div class="govuk-phase-banner govuk-!-padding-left-3 govuk-!-padding-right-3">
   <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
   Alpha
 </strong>
 <span class="govuk-phase-banner__text">
     This is a new service – your <a class="govuk-link" href="https://design-system.service.gov.uk/get-in-touch">feedback</a> will help us to improve it.
   </span>
   </p>
 </div>-->
 <div class="jui-casebar" style="display: none">

  <div class="jui-width-container">

    <div class="jui-casebar__details">
      #0093939983<span class="jui-casebar__title"> London Borough of Southwark  versus 	Samantha Smith  </span>
    </div>


    <div class="jui-casebar__options">

  <!--    <nav class="jui-case-actions">
  <ul class="jui-case-actions__list">

      <li class="jui-case-actions__item">
        <a class="jui-case-actions__link" href="https://jui-prototype.herokuapp.com/app/cases/BV18D00150/make-decision">Make decision</a>
      </li>

      <li class="jui-case-actions__item">
        <a class="jui-case-actions__link" href="https://jui-prototype.herokuapp.com/app/cases/BV18D00150/mark-as-prepared">List for hearing</a>
      </li>

      <li class="jui-case-actions__item">
        <a class="jui-case-actions__link" href="https://jui-prototype.herokuapp.com/app/cases/BV18D00150/reassign">Reassign</a>
      </li>

  </ul>
</nav>-->

    </div>


  </div>

</div>

 <div > </div >
  <div class="app-pane__nav">
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list">
    <li class="app-navigation--current-page">
      <a class="govuk-link" href="la-case-summary" data-topnav="Case summary"> Case summary</a>
    </li>
    <li>
      <a class="govuk-link" href="la-parties" data-topnav="Parties">Parties</a>
    </li>
    <li >
      <a class="govuk-link" href="la-case-file" data-topnav="Case file">Case file</a>
    </li>
    <li >
      <a class="govuk-link" href="la-directions" data-topnav="directions">Directions</a>
    </li>
	    <li ><a class="govuk-link" href="la-orders" data-topnav="orders">Orders</a>
    </li>
    <li>
      <a class="govuk-link" href="la-timeline" data-topnav="timeline" >Status & timeline</a>
    </li>
	  <li>
      <a class="govuk-link" href="la-questions" data-topnav="questions" >Questions</a>
    </li>
  </ul>
</nav>
<nav id="app-mobile-nav" class="app-mobile-nav js-app-mobile-nav" role="navigation" aria-hidden="true" aria-labelledby="app-header-mobile-nav-toggler">
  <ul class="app-mobile-nav__list">
    <li>
      <a class="govuk-link js-mobile-nav-subnav-toggler" href="la-case-summary" id="js-mobile-nav-subnav-toggler-0" aria-label="Toggle subnavigation for Get started" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">Case summary</a>
      <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav " id="js-mobile-nav__subnav-0" aria-hidden="true" aria-labelledby="js-mobile-nav-subnav-toggler-0">
       

          <ul class="app-mobile-nav__theme-nav">
            <li>
              <a class="govuk-link" href="la-case-summary">Case details </a>
            </li>
            <li class="current-page">
              <a class="govuk-link" href="la-case-summary-by-la">Summary by LA</a>
            </li>
            
          </ul>

      </ul>
    </li>
    <li>
      <a class="govuk-link js-mobile-nav-subnav-toggler" href="la-parties" id="js-mobile-nav-subnav-toggler-1" aria-label="Toggle subnavigation for Styles" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">Parties</a>
      <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav app-mobile-nav__subnav--hidden" id="js-mobile-nav__subnav-1" aria-hidden="true" aria-labelledby="js-mobile-nav-subnav-toggler-1">
        

          <ul class="app-mobile-nav__theme-nav">
			  <li>
              <a class="govuk-link" href="la-parties#children">Children</a>
            </li>
			  <li>
          <a class="govuk-link" href="la-parties#respondent">Respondent</a>
        </li>
            <li>
              <a class="govuk-link" href="la-parties#applicant">Applicant </a>
            </li>
            <li>
              <a class="govuk-link" href="la-parties#cafcass">CAFCASS</a>
            </li>
            

          </ul>

      </ul>
    </li>
    <li>
      <a class="govuk-link js-mobile-nav-subnav-toggler" href="la-case-file" id="js-mobile-nav-subnav-toggler-2" aria-label="Toggle subnavigation for Components" aria-expanded="false" aria-controls="js-mobile-nav__subnav-2">Case file</a>
      <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav app-mobile-nav__subnav--hidden" id="js-mobile-nav__subnav-2" aria-hidden="true" aria-labelledby="js-mobile-nav-subnav-toggler-2">
        

          <ul class="app-mobile-nav__theme-nav">
			  <li>
          <a class="govuk-link" href="la-case-file">C110a Application </a>
        </li>
            <li>
              <a class="govuk-link" href="la-case-file-swet">SWET</a>
            </li>
            <li>
              <a class="govuk-link" href="la-case-file-e-bundle">E-bundle</a>
            </li>
			  <li>
              <a class="govuk-link" href="la-case-file-documents">Documents</a>
            </li>
			   <li>
              <a class="govuk-link" href="la-case-file-upload">Upload</a>
            </li>


          </ul>

      </ul>
		<li>
      <a class="govuk-link js-mobile-nav-subnav-toggler" href="la-directions" id="js-mobile-nav-subnav-toggler-2" aria-label="Toggle subnavigation for Components" aria-expanded="false" aria-controls="js-mobile-nav__subnav-2">Directions</a>
      <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav app-mobile-nav__subnav--hidden" id="js-mobile-nav__subnav-2" aria-hidden="true" aria-labelledby="js-mobile-nav-subnav-toggler-2">
        <li>
          <a class="govuk-link" href="la-directions">View directions </a>
        </li>

          <ul class="app-mobile-nav__theme-nav">
           

          </ul>

      </ul>
    </li>
	  <li>
      <a class="govuk-link js-mobile-nav-subnav-toggler" href="la-orders" id="js-mobile-nav-subnav-toggler-2" aria-label="Toggle subnavigation for Components" aria-expanded="false" aria-controls="js-mobile-nav__subnav-2">Orders</a>
      <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav app-mobile-nav__subnav--hidden" id="js-mobile-nav__subnav-2" aria-hidden="true" aria-labelledby="js-mobile-nav-subnav-toggler-2">
        <li>
          <a class="govuk-link" href="la-standard-directions">Standard directions </a>
        </li>

          <ul class="app-mobile-nav__theme-nav">
           
<li>
          <a class="govuk-link" href="la-cmo">CMO </a>
        </li>
          </ul>

      </ul>
    </li>
    <li>
      <a class="govuk-link js-mobile-nav-subnav-toggler" href="la-timeline" id="js-mobile-nav-subnav-toggler-3" aria-label="Toggle subnavigation for Patterns" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">Status/ Timeline</a>
      <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav app-mobile-nav__subnav--hidden" id="js-mobile-nav__subnav-3" aria-hidden="true" aria-labelledby="js-mobile-nav-subnav-toggler-3">
        <li>
          <a class="govuk-link" href="la-timeline">Timeline</a>
        </li>

           
          <ul class="app-mobile-nav__theme-nav">
           

          </ul>

      </ul>
    </li>
    <li>
      <a class="govuk-link js-mobile-nav-subnav-toggler" href="la-questions" id="js-mobile-nav-subnav-toggler-4" aria-label="Toggle subnavigation for Community" aria-expanded="false" aria-controls="js-mobile-nav__subnav-4">Questions</a>
      <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav app-mobile-nav__subnav--hidden" id="js-mobile-nav__subnav-4" aria-hidden="true" aria-labelledby="js-mobile-nav-subnav-toggler-4">
        <li>
          <a class="govuk-link" href="la-questions">View questions</a>
        </li>

          <ul class="app-mobile-nav__theme-nav">
            <li>
              <a class="govuk-link" href="la-questions-ask">Ask questions </a>
            </li>
            
          </ul>

      </ul>
    </li>
  </ul>
</nav>
  </div>

<div class="app-pane__body">
  <div class="app-pane__subnav app-hide-mobile">
<nav class="app-subnav">
	<h4 class="app-subnav__theme">Case summary  </h4>
          <ul class="app-subnav__section">
            <li class="app-subnav__section-item app-subnav__section-item--current">
              <a class="govuk-link" href="la-case-summary"> Case details</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="govuk-link" href="la-case-summary-by-la">Case summary by LA</a>
            </li>
           
          </ul>
</nav>
  </div>
 <div class="app-pane__content">
    <main id="main-content" class="app-content" role="main">
      <div class="app-content__header">
       <h1 class="govuk-heading-l">
       <!-- <span class="govuk-caption-l">  Case 00388</span>-->
    Case details

    </h1>
      </div>
      <table>
  <caption class="heading-small">Key details</caption>
  <tbody>
	  <tr> <td>Case number </td>
		<td class="bold">PL00388</td>
    </tr>
	  <tr>
      <td>Tribunal center</td>
      <td class="bold">Fox Court(South East)</td>
    </tr>
		<tr>
    
	   <tr> <td>Case start date </td>
		<td class="bold">20th June 2018</td>
    </tr>
	   <tr> <td>Time to 26 week deadline </td>
		<td class="bold">4 weeks</td>
    </tr>
    
    <tr>
      <td>Judge</td>
		<td class="bold"><a href="" title="Contact Jeremy Bennett">Jeremy Bennett</a></td>
    </tr>
    <tr>
      <td>Applicant</td>
		<td class="bold"><a href="" title="Contact Ben Brown">London Borough of Southwark </a></td>
    </tr>
	  <tr>
      <td>LA's solicitor</td>
		<td class="bold"><a href="" title="Contact Ben Brown">Ben Brown</a></td>
    </tr>
    <tr>
      <td>Parent's solicitor</td>
		<td class="bold"><a href="" title="Contact Louise Green">Louise Green</a></td>
    </tr>
	  <tr>
      <td>Guadian's solicitor</td>
      <td class="bold"><a href="" title="Contact Helen"> Helen Ryan</a></td>
    </tr>
	   <tr>
      <td>Medical member</td>
      <td class="bold"><a href="" title="Contact Helen"> Veronica George</a></td>
    </tr>
	   <tr>
      <td>Disability qualified member</td>
      <td class="bold"><a href="" title="Contact Helen"> Mike Parsens</a></td>
    </tr>
	  <tr>
      <td>Additional requirements</td>
      <td class="bold"> Translator support requested</td>
    </tr>
  </tbody>
</table>
	<p><br/><br/></p>
	   <table>
  <thead>
    <tr>
      <th scope="col" width="360px;">Children</th>
      <th  scope="col" width="200px;">Gender</th>
      <th  scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bobby Reeves </th>
      <td >Boy</td>
      <td >6</td>
    </tr>
    <tr>
      <th scope="row">Emily Reeves</th>
      <td >Girl</td>
      <td >8</td>
    </tr>
    
  </tbody>
</table>
	  
	  <table>
  <thead>
    <tr>
      <th scope="col" width="360px;">Parents</th>
      <th  width="200px;">Relationship</th>
      <th  >Age</th>
    </tr>
  </thead>
  <tbody>
	  
	  <tr>
		  <th scope="row"><a href="" title="Contact Isabella Reeves">Isabella Reeves</a></th>
      <td >Mother</td>
      <td >44</td>
    </tr>
    <tr>
      <th scope="row">Jim Reeves </th>
      <td >Father</td>
      <td >45</td>
    </tr>
    
    
  </tbody>
</table>
<!--application end-->
      </div>
    </main>
    
    <div class="app-pane__subnav-mobile-overview app-hide-desktop">
<nav class="app-subnav">
          <ul class="app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="govuk-link" href="la-case-summary"> Case details</a>
            </li>
            <li class="app-subnav__section-item app-subnav__section-item--current">
              <a class="govuk-link" href="la-case-summary-by-la">Case summary by LA</a>
            </li>
           
          </ul>
</nav>
    </div>

<main id="content" role="main"  class="govuk-clearfix" >
  <div class="grid-row-">
    <div class="column-full column-minimum" style="">

	<!--Breadscrumbs

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Dashboard",
      href: "-la-dashboard"
    },
    {
      text: "Cases",
      href: "la-cases"
    },
    {
      text: "#0093939983"
    }
,		{
      text: "Case summary"
    }
  ]
}) }}-->

	
		
		
		

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     
	  
		
	  
  </div>
  
</div>
		  
	 
	  
	  
	
	  
	  
		
		
		

      
</div>
    </div>
  </div>
</main>

{% endblock %}
