<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Microsoft Word - Allocation and Gatekeeping Schedule Final for 22nd April 2014  _2_.doc</title>
<meta name="author" content="anshaw"/>
<style type="text/css">
* {
	margin: 0;
	padding: 0;
	text-indent: 0;
}
.s1 {
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 12pt;
}
.s2 {
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
.s3 {
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	font-size: 12pt;
}
li {
	display: block;
}
#l1 {
	padding-left: 0pt;
	counter-reset: c1 1;
}
#l1> li:before {
	counter-increment: c1;
	content: "("counter(c1, decimal)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l1> li:first-child:before {
	counter-increment: c1 0;
}
#l2 {
	padding-left: 0pt;
	counter-reset: c2 1;
}
#l2> li:before {
	counter-increment: c2;
	content: counter(c2, lower-latin)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l2> li:first-child:before {
	counter-increment: c2 0;
}
li {
	display: block;
}
#l3 {
	padding-left: 0pt;
	counter-reset: d1 1;
}
#l3> li:before {
	counter-increment: d1;
	content: "("counter(d1, decimal)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l3> li:first-child:before {
	counter-increment: d1 0;
}
#l4 {
	padding-left: 0pt;
}
#l4> li:before {
	content: "• ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
li {
	display: block;
}
#l5 {
	padding-left: 0pt;
}
#l5> li:before {
	content: "• ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
li {
	display: block;
}
#l6 {
	padding-left: 0pt;
	counter-reset: f1 11;
}
#l6> li:before {
	counter-increment: f1;
	content: "("counter(f1, decimal)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l6> li:first-child:before {
	counter-increment: f1 0;
}
li {
	display: block;
}
#l7 {
	padding-left: 0pt;
	counter-reset: g1 14;
}
#l7> li:before {
	counter-increment: g1;
	content: "("counter(g1, decimal)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l7> li:first-child:before {
	counter-increment: g1 0;
}
li {
	display: block;
}
#l8 {
	padding-left: 0pt;
	counter-reset: h1 17;
}
#l8> li:before {
	counter-increment: h1;
	content: "("counter(h1, decimal)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l8> li:first-child:before {
	counter-increment: h1 0;
}
li {
	display: block;
}
#l9 {
	padding-left: 0pt;
	counter-reset: i1 21;
}
#l9> li:before {
	counter-increment: i1;
	content: "("counter(i1, decimal)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l9> li:first-child:before {
	counter-increment: i1 0;
}
li {
	display: block;
}
#l10 {
	padding-left: 0pt;
	counter-reset: j1 23;
}
#l10> li:before {
	counter-increment: j1;
	content: "("counter(j1, decimal)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l10> li:first-child:before {
	counter-increment: j1 0;
}
li {
	display: block;
}
#l11 {
	padding-left: 0pt;
	counter-reset: k1 25;
}
#l11> li:before {
	counter-increment: k1;
	content: "("counter(k1, decimal)") ";
	color: black;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
#l11> li:first-child:before {
	counter-increment: k1 0;
}
</style>
</head>
<body>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<table style="border-collapse:collapse;margin-left:5.49pt" cellspacing="0">
  <tr style="height:15pt">
    <td style="width:709pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="4"><h1 >President's guidance on allocation </h1></td>
  </tr>
  <tr style="height:15pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s2" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Column 1</p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s2" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Column 2</p></td>
  </tr>
  <tr style="height:193pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">A) Risk assessment issues</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <ol id="l1">
        <li style="padding-left: 41pt;text-indent: -36pt;text-align: left;">
          <p class="s2" style="display: inline;">Allegations or risk of</p>
          <ol id="l2">
            <li style="padding-left: 50pt;padding-right: 22pt;text-indent: -9pt;line-height: 106%;text-align: left;">
              <p class="s2" style="display: inline;">serious physical or sexual abuse causing or likely to cause significant injury to the relevant children, and/or</p>
            </li>
            <li style="padding-left: 53pt;text-indent: -12pt;text-align: left;">
              <p class="s2" style="display: inline;">serious sexual abuse of the relevant children</p>
            </li>
          </ol>
        </li>
      </ol></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">A) Risk assessment issues</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <ol id="l3">
        <li style="padding-left: 37pt;padding-right: 7pt;text-indent: -32pt;line-height: 106%;text-align: left;">
          <p class="s2" style="display: inline;">Allegations of physical or sexual abuse which involve any of the following features:</p>
          <ul id="l4">
            <li style="padding-left: 55pt;padding-right: 8pt;text-indent: -18pt;line-height: 106%;text-align: left;">
              <p class="s2" style="display: inline;">Exceptional gravity in relation to the acts alleged or the nature of the harm suffered</p>
            </li>
            <li style="padding-left: 55pt;padding-right: 7pt;text-indent: -18pt;line-height: 106%;text-align: left;">
              <p class="s2" style="display: inline;">Where there is, or is likely to be, conflicting expert opinion from more than two expert witnesses on any key issue</p>
            </li>
            <li style="padding-left: 55pt;padding-right: 7pt;text-indent: -18pt;line-height: 108%;text-align: left;">
              <p class="s2" style="display: inline;">Shaking injuries involving retinal haemorrhage/ brain injury/ fractures</p>
            </li>
            <li style="padding-left: 55pt;padding-right: 6pt;text-indent: -18pt;line-height: 108%;text-align: left;">
              <p class="s2" style="display: inline;">Complex medical questions involving novel issues or the determination of causatio n</p>
            </li>
          </ul>
        </li>
      </ol></td>
  </tr>
  <tr style="height:59pt">
    <td style="width:30pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">(2)</p></td>
    <td style="width:325pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 11pt;padding-right: 7pt;text-indent: 0pt;line-height: 106%;text-align: left;">Allegations of serious domestic violence eg. causing significant injury particularly if witnessed by the child</p></td>
    <td style="width:28pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 3pt;padding-right: 7pt;text-indent: 0pt;text-align: center;">(2)</p></td>
    <td style="width:326pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 9pt;padding-right: 7pt;text-indent: 0pt;line-height: 106%;text-align: left;">Allegations of extremely serious domestic violence or rape, particularly if witnessed by the child</p></td>
  </tr>
  <tr style="height:90pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
    <td style="width:28pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt"><p class="s2" style="padding-left: 3pt;padding-right: 7pt;text-indent: 0pt;text-align: center;">(3)</p></td>
    <td style="width:326pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s2" style="padding-left: 13pt;text-indent: 0pt;text-align: left;">Risk of serious physical or emotional harm arising from –</p>
      <ul id="l5">
        <li style="padding-top: 1pt;padding-left: 27pt;padding-right: 57pt;text-indent: -18pt;line-height: 108%;text-align: left;">
          <p class="s2" style="display: inline;">Death of another child in family, a parent or other significant person</p>
        </li>
        <li style="padding-left: 27pt;padding-right: 7pt;text-indent: -18pt;line-height: 108%;text-align: left;">
          <p class="s2" style="display: inline;">A parent or other significant person who may have committed a grave crime e.g. murder, manslaughter or rape</p>
        </li>
      </ul></td>
  </tr>
  <tr style="height:15pt">
    <td style="width:30pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt"><p class="s2" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">(4)</p></td>
    <td style="width:325pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s2" style="padding-left: 12pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Significant disputed issues relating to psychiatric illness of a</p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<table style="border-collapse:collapse;margin-left:5.49pt" cellspacing="0">
  <tr style="height:30pt">
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s2" style="padding-left: 41pt;text-indent: 0pt;text-align: left;">parent and/or a child</p></td>
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
  <tr style="height:59pt">
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
    <td style="width:29pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 3pt;padding-right: 7pt;text-indent: 0pt;text-align: center;">(5)</p></td>
    <td style="width:326pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 13pt;text-indent: 0pt;text-align: left;">History of suspicious death of a child in the family</p></td>
  </tr>
  <tr style="height:161pt">
    <td style="width:35pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">(6)</p>
      <p class="s2" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">child</p></td>
    <td style="width:319pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Significant disputed medical issues relating to the relevant</p></td>
    <td style="width:29pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 3pt;padding-right: 7pt;text-indent: 0pt;text-align: center;">(6)</p></td>
    <td style="width:326pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 9pt;padding-right: 1pt;text-indent: 0pt;line-height: 106%;text-align: left;">Complex medical issues, including medical causation issues and medical treatment issues including where any of the parties suffer from psychiatric illness or psychological issues or any significant disability such as profound deafness, blindness or learning disability, or which will require specialist knowledge and services in respect of parenting capacity or the needs of the children</p></td>
  </tr>
  <tr style="height:59pt">
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">B) Unusual/Complex issues relating to ethnicity or religion </p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">None</p></td>
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">B) Unusual/Complex issues relating to ethnicity or religion </p>
      <p class="s2" style="padding-left: 37pt;text-indent: -32pt;line-height: 106%;text-align: left;">(7) Significant contested issues in respect of religi on, culture or ethnicity or involving medical treatment relating to the same</p></td>
  </tr>
  <tr style="height:101pt">
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">C) Non-subject child as a party (particularly if under 16)</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">(8) Where a child may be required to give evidence.</p></td>
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">C) Non-subject child as a party (particularly if under 16 )</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 37pt;padding-right: 6pt;text-indent: -32pt;line-height: 107%;text-align: justify;">(8) Where children (including parents who are under the age of 18) are, or may be, required to give evidence and be joined as a party</p></td>
  </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<table style="border-collapse:collapse;margin-left:5.49pt" cellspacing="0">
  <tr style="height:74pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">D) Capacity issues</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 41pt;padding-right: 7pt;text-indent: -36pt;line-height: 106%;text-align: left;">(9) Where there is a need for the Official Solicitor or another litigation friend to represen t the interests of an incapacitated</p>
      <p class="s2" style="padding-left: 39pt;padding-right: 286pt;text-indent: 0pt;line-height: 13pt;text-align: center;">adult</p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">D) Capacity issues</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 47pt;padding-right: 1pt;text-indent: -41pt;line-height: 106%;text-align: left;">(9) Where there is a need for the Official Solicitor or another litigation friend to represent the interests of more than one</p>
      <p class="s2" style="padding-left: 47pt;text-indent: 0pt;line-height: 13pt;text-align: left;">incapacitated party</p></td>
  </tr>
  <tr style="height:103pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 106%;text-align: left;">E) Real possibility of conflict of expert evid ence or difficulty in resolving conflict in the evidence of witnesses</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 41pt;text-indent: -36pt;line-height: 106%;text-align: left;">(10) Where there is an identified need for no more than two expert witnesses to report on the same key issue(s)</p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 106%;text-align: left;">E) Real possibility of conflict of expert evidence or difficulty i n resolving conflict in the evidence of witnesses</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 37pt;text-indent: -32pt;line-height: 106%;text-align: left;">(10) Where there is an identified need for more than two expert witnesses to report on the same key issue(s)</p></td>
  </tr>
  <tr style="height:235pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;padding-right: 195pt;text-indent: 0pt;line-height: 212%;text-align: left;">F) Novel or difficult point of law<span class="s2"> None</span></p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">F) Novel or difficult point of law</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <ol id="l6">
        <li style="padding-left: 37pt;padding-right: 7pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">Where the case involves a difficult point of law, issues of public policy or unusually complex or sensitive issues</p>
        </li>
        <li style="padding-left: 37pt;padding-right: 7pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">Allegations of serious abuse where there are, or are likely to be, criminal proceedings and consideration of issues regarding disclosure of information or public interest immunity</p>
        </li>
        <li style="padding-left: 37pt;padding-right: 5pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">Complex issues as to disclosure – where a party seeks leave to withhold information from another party, or where there is an issue about the release of confidential information involving a difficult point of law, or where disclosure of documentation involves a difficult or sensitive exercise of discretion or public policy issues</p>
        </li>
      </ol>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<table style="border-collapse:collapse;margin-left:5.49pt" cellspacing="0">
  <tr style="height:103pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><ol id="l7">
        <li style="padding-left: 37pt;padding-right: 7pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">Where there are concurrent criminal proceedings in the Crown Court relevant to the issues between the parties and joint directions hearing(s) may be required.</p>
        </li>
        <li style="padding-left: 37pt;padding-right: 7pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">Cases not in category H below, but which have significant immigration/status issues.</p>
        </li>
      </ol>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
  <tr style="height:147pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;padding-right: 4pt;text-indent: 0pt;line-height: 106%;text-align: justify;">G) Existing proceedings relating to the child or a sibling which are proceeding before another court or have been recently completed before another court</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 32pt;padding-right: 6pt;text-indent: -27pt;line-height: 106%;text-align: justify;">(16) Consideration must be given to listing the current proceedings before the judge who heard or is hearing the proceedings relating to the child or sibling in order to provide continuity.</p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;padding-right: 4pt;text-indent: 0pt;line-height: 106%;text-align: justify;">G) Existing proceedings relating to the chi ld or a sibling which are proceeding before another court or have been recently completed before another court</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 29pt;padding-right: 6pt;text-indent: -23pt;line-height: 106%;text-align: justify;">(16) Consideration must be given to listing the current proceedings before the judge who heard or is hearing the proceedings relating to the chi ld or sibling in order to provide continuity.</p></td>
  </tr>
  <tr style="height:162pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">International Proceedings</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">(18) Cases to which Brussels II revised applies</p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;padding-right: 169pt;text-indent: 0pt;line-height: 212%;text-align: left;">H) High Court Reserved Jurisdictions International Issues</p>
      <ol id="l8">
        <li style="padding-left: 37pt;padding-right: 7pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">There is an issue concerning placement for adoption of the child outside the jurisdiction</p>
        </li>
        <li style="padding-left: 37pt;padding-right: 8pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">Proceedings with an international element relating to recognition or enforcement of orders, conflict or comity of laws or which have exceptional immigration / asylum status issues</p>
        </li>
      </ol>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<table style="border-collapse:collapse;margin-left:5.49pt" cellspacing="0">
  <tr style="height:15pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
  <tr style="height:59pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s2" style="padding-left: 32pt;text-indent: -27pt;line-height: 108%;text-align: left;">(19) Cases in which placement is limited to temporary removal to a Hague Convention country.</p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s2" style="padding-left: 37pt;padding-right: 7pt;text-indent: -32pt;line-height: 107%;text-align: justify;">(19) Cases in which an application is made for (a) permanent placement or (b) temporary removal from the jurisdiction to a non-Hague convention country;</p></td>
  </tr>
  <tr style="height:220pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s2" style="padding-left: 37pt;padding-right: 5pt;text-indent: -32pt;line-height: 106%;text-align: justify;">20) Cases in which a child has been brought to this jurisdiction in circumstances which might constitute a wrongful removal or retention either from a EC Member State, a Hague Convention country (a contracting State to the 1980 Hague Child Abduction Convention and/or a contracting State to the 1996 Hague Child Protection Convention) or a non -Convention country;</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <ol id="l9">
        <li style="padding-left: 37pt;padding-right: 5pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">Cases in which a child is alleged to have been abducted overseas and applications have been made in this jurisdiction such as for a declaration that the child was habitually res ident in this country prior to the abduction or for an order that the child be returned with a request for assistance etc; and</p>
        </li>
        <li style="padding-left: 38pt;text-indent: -32pt;text-align: left;">
          <p class="s2" style="display: inline;">Cases in which Tipstaff Orders are applied for.</p>
        </li>
      </ol>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
  <tr style="height:118pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Inherent Jurisdiction</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <ol id="l10">
        <li style="padding-left: 37pt;text-indent: -32pt;text-align: left;">
          <p class="s2" style="display: inline;">Injunctions invoking the inherent jurisd iction of the court</p>
        </li>
        <li style="padding-left: 37pt;padding-right: 8pt;text-indent: -32pt;line-height: 108%;text-align: left;">
          <p class="s2" style="display: inline;">Interim or substantive relief which requires the inherent jurisdiction of the High Court to be invoked.</p>
        </li>
      </ol>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<p style="text-indent: 0pt;text-align: left;"><br/>
</p>
<table style="border-collapse:collapse;margin-left:5.49pt" cellspacing="0">
  <tr style="height:206pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Other</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <ol id="l11">
        <li style="padding-left: 37pt;text-indent: -32pt;text-align: left;">
          <p class="s2" style="display: inline;">Applications for Declaratory Relief</p>
        </li>
        <li style="padding-left: 37pt;padding-right: 4pt;text-indent: -32pt;line-height: 106%;text-align: left;">
          <p class="s2" style="display: inline;">Applications which require the jurisdiction of the Administrativ e Court to be invoked</p>
        </li>
        <li style="padding-left: 37pt;padding-right: 8pt;text-indent: -32pt;line-height: 106%;text-align: justify;">
          <p class="s2" style="display: inline;">Issues as to publicity (identification of a child or restriction on publication or injunctions seeking to restrict the freedom of the media)</p>
        </li>
        <li style="padding-left: 37pt;padding-right: 7pt;text-indent: -32pt;line-height: 106%;text-align: left;">
          <p class="s2" style="display: inline;">Applications in medical treatment cases e.g. for novel medical treatment or li fe saving procedures</p>
        </li>
      </ol>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
  </tr>
  <tr style="height:93pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">I) Other case management issues</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 41pt;text-indent: -36pt;line-height: 106%;text-align: left;">(29) Where a “split hearing” or finding of fact hearing is necessary and judicial continuity cannot otherwise be ensured</p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">I) Other case management issues</p>
      <p style="text-indent: 0pt;text-align: left;"><br/>
      </p>
      <p class="s2" style="padding-left: 37pt;padding-right: 5pt;text-indent: -32pt;line-height: 106%;text-align: justify;">(29) Where a “split hearing” or finding of fac t hearing is necessary and judicial continuity before a District Judge cannot be ensured</p></td>
  </tr>
  <tr style="height:59pt">
    <td style="width:355pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p style="text-indent: 0pt;text-align: left;"><br/>
      </p></td>
    <td style="width:354pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"><p class="s2" style="padding-left: 37pt;padding-right: 6pt;text-indent: -32pt;line-height: 106%;text-align: justify;">(30) Where possible local authority failures to progress plans to protect the child(ren) in the case are likely to be addressed critically by the court because it i s alleged that there has been</p>
      <p class="s2" style="padding-left: 37pt;text-indent: 0pt;line-height: 13pt;text-align: left;">systemic failure in the proceedings and other proceedings</p></td>
  </tr>
</table>
</body>
</html>
