{% extends "layout-start-page.html" %}

{% block pageTitle %}
 Apply for a care, supervision or emergency protection order
{% endblock %}

{% block header %}

  {{ govukHeader({
    "homepageUrl": "/",
    "containerClasses": "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "#"
      },
      {
        "text": "Parenting, childcare and children's services",
        "href": "#"
      },
      {
        "text": "Safeguarding and social care for children",
        "href": "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
		   <span class="govuk-caption-xl">  C110A</span>
      Apply for a care, supervision or emergency protection order <!-- {% if serviceName %} {{ serviceName }} {% endif %}-->
      </h1>
		<p>Use this service if you believe a child is suffering or is at risk of suffering significant harm.</p>
      <p>You can also apply here for other orders under part 4 of the <a href="https://www.legislation.gov.uk/ukpga/1989/41/contents" target="_blank">Children Act 1989</a>.</p>

      <a class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" href="la-sign-in" role="button">Start now</a>

      <h2 class="govuk-heading-m">Before you start</h2>


		<p>You’ll need an HM Courts and Tribunals Services (HMCTS) account to apply. <a href="#" target="_blank">Contact HMCTS to request an account.</a></p>



		 <h2 class="govuk-heading-m">Other ways to apply</h2>

		  <p>You can also <a href="https://www.gov.uk/government/publications/form-c110a-application-for-a-care-or-supervision-order-or-an-emergency-protection-order" target="_blank">download PDF form </a>and apply by post or email.</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <!--<p>You can’t register for this service if you’re in the UK illegally.</p>-->

    </div>

    <div class="govuk-grid-column-one-third" style="display: none;">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
