{% extends "layout.html" %}

{% block pageTitle %}
  Thank you for contacting us
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Thank you for contacting us
      </h1>

      <p>We will reply to you within 2 working days using using the email you have given us.</p>

      <p>If your problem is more urgent please get in touch with the Money Claims team on 0300 123 7050 (Monday to Friday, 9am to 5pm)</p>

      <p><a href="/start">Return to the money claims service</a></p>

    </div>
  </div>

{% endblock %}
