{% extends "layout.html" %}

{% block pageTitle %}
  Thank you for contacting us
{% endblock %}

{% block beforeContent %}
 <!-- <a class="govuk-back-link" href="/">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Thank you for your feedback
      </h1>

     

     <!-- <p><a href="/start3">Return to the money claims service</a></p>-->
		<p>&nbsp; </p>
		<p>&nbsp; </p>
		<p>&nbsp; </p><p> &nbsp;</p>
		<p>&nbsp; </p><p> &nbsp;</p>
		<p>&nbsp; </p><p> &nbsp;</p>
		

    </div>
  </div>

{% endblock %}
